Repository jlowin/fastmcp, pull requests merged in 2024-12, with the labels that each got.

#21 Use hatchling for version
  README.md
  pyproject.toml
  src/fastmcp/__init__.py
Labels: documentation, enhancement

#24 Update README.md
  README.md
Labels: documentation

#22 add rich handler and dotenv loading for settings
  src/fastmcp/cli/cli.py
  src/fastmcp/server.py
  src/fastmcp/utilities/logging.py
Labels: enhancement

#25 print exception when server can't start
  src/fastmcp/cli/cli.py
Labels: enhancement

#27 Support env vars when installing
  README.md
  pyproject.toml
  src/fastmcp/cli/claude.py
  src/fastmcp/cli/cli.py
  tests/test_cli.py
  uv.lock
Labels: documentation, enhancement

#29 Surge example
  .github/workflows/run-tests.yml
  .gitignore
  examples/text_me.py
Labels: enhancement, good first issue

#32 add `Contributing` section to README
  README.md
Labels: documentation, good first issue

#37 Handle missing config file when installing
  src/fastmcp/cli/claude.py
Labels: bug, feature

#40 Remove BaseURL reference and use AnyURL
  src/fastmcp/resources/base.py
Labels: enhancement, feature

#42 Changes to accomodate windows users.
  Windows_Notes.md
  src/fastmcp/cli/cli.py
  tests/resources/test_file_resources.py
  tests/test_cli.py
Labels: bug, enhancement, help wanted, feature

#31 Handle complex inputs
  README.md
  examples/complex_inputs.py
  src/fastmcp/exceptions.py
  src/fastmcp/tools/base.py
  src/fastmcp/utilities/func_metadata.py
  tests/test_func_metadata.py
  tests/test_tool_manager.py
Labels: documentation, enhancement, help wanted, feature

#47 fix warning and flake
  pyproject.toml
  tests/test_cli.py
  tests/test_func_metadata.py
  uv.lock
Labels: development

#52 Add pyright + tests
  .github/workflows/run-static.yml
  pyproject.toml
  src/fastmcp/cli/cli.py
  src/fastmcp/prompts/base.py
  src/fastmcp/resources/base.py
  src/fastmcp/resources/templates.py
  src/fastmcp/resources/types.py
  src/fastmcp/server.py
  src/fastmcp/utilities/func_metadata.py
  src/fastmcp/utilities/types.py
  tests/prompts/test_base.py
  tests/resources/test_file_resources.py
  tests/resources/test_function_resources.py
  tests/resources/test_resource_manager.py
  tests/resources/test_resource_template.py
  tests/resources/test_resources.py
  tests/servers/test_file_server.py
  tests/test_cli.py
  tests/test_func_metadata.py
  tests/test_server.py
  uv.lock
Labels: enhancement

#51 fix: use stderr for logging
  src/fastmcp/utilities/logging.py
Labels: bug

#49 add pgvector memory example
  .gitignore
  examples/memory.py
  src/fastmcp/cli/cli.py
  uv.lock
Labels: feature

#54 Relicense from Apache 2.0 to MIT
  LICENSE
Labels: documentation

#63 fix: handle strings containing numbers correctly
  src/fastmcp/utilities/func_metadata.py
  tests/test_func_metadata.py
Labels: bug
