Repository jlowin/fastmcp, pull requests merged in 2025-08, with the labels that each got.

#1303 Remove unused TimedCache
  docs/python-sdk/fastmcp-utilities-cache.mdx
  src/fastmcp/server/server.py
  src/fastmcp/utilities/cache.py
  tests/server/test_mount.py
  tests/utilities/test_cache.py
Labels: documentation, tests

#1322 refactor: standardize logging usage across OpenAPI utilities
  src/fastmcp/experimental/utilities/openapi/json_schema_converter.py
  src/fastmcp/experimental/utilities/openapi/parser.py
  src/fastmcp/experimental/utilities/openapi/schemas.py
  src/fastmcp/utilities/openapi.py
Labels: component: openapi

#1321 perf: optimize OpenAPI parsing by reducing dict copy operations
  src/fastmcp/utilities/openapi.py
Labels: component: openapi

#1330 Ensure validation errors are raised when masked
  pyproject.toml
  tests/client/test_client.py
  uv.lock
Labels: tests

#1334 Remove reference to stacked decorators
  docs/servers/resources.mdx
Labels: documentation

#1336 Docs updates
  docs/clients/auth/bearer.mdx
  docs/docs.json
  docs/integrations/authkit.mdx
  docs/integrations/chatgpt.mdx
  docs/integrations/claude-code.mdx
  docs/integrations/eunomia-authorization.mdx
  docs/integrations/mcp-json-configuration.mdx
  docs/integrations/openai.mdx
  docs/integrations/permit.mdx
  docs/python-sdk/fastmcp-cli-cli.mdx
  docs/python-sdk/fastmcp-cli-run.mdx
  docs/python-sdk/fastmcp-client-auth-oauth.mdx
  docs/python-sdk/fastmcp-client-transports.mdx
  docs/python-sdk/fastmcp-prompts-prompt.mdx
  docs/python-sdk/fastmcp-resources-resource.mdx
  docs/python-sdk/fastmcp-resources-template.mdx
  docs/python-sdk/fastmcp-server-auth-auth.mdx
  docs/python-sdk/fastmcp-server-auth-providers-bearer.mdx
  docs/python-sdk/fastmcp-server-auth-providers-in_memory.mdx
  docs/python-sdk/fastmcp-server-auth-providers-jwt.mdx
  docs/python-sdk/fastmcp-server-auth-providers-workos.mdx
  docs/python-sdk/fastmcp-server-auth-registry.mdx
  docs/python-sdk/fastmcp-server-context.mdx
  docs/python-sdk/fastmcp-server-dependencies.mdx
  docs/python-sdk/fastmcp-server-http.mdx
  docs/python-sdk/fastmcp-server-middleware-middleware.mdx
  docs/python-sdk/fastmcp-server-proxy.mdx
  docs/python-sdk/fastmcp-server-server.mdx
  docs/python-sdk/fastmcp-tools-tool.mdx
  docs/python-sdk/fastmcp-tools-tool_transform.mdx
  docs/python-sdk/fastmcp-utilities-components.mdx
  docs/python-sdk/fastmcp-utilities-mcp_config.mdx
  docs/python-sdk/fastmcp-utilities-openapi.mdx
  docs/python-sdk/fastmcp-utilities-tests.mdx
  docs/python-sdk/fastmcp-utilities-types.mdx
  docs/servers/auth/authentication.mdx
  docs/servers/auth/full-oauth-server.mdx
  docs/servers/auth/remote-oauth.mdx
  docs/servers/auth/token-verification.mdx
Labels: documentation, component: openapi

#1342 perf: optimize string operations in OpenAPI parameter processing
  src/fastmcp/utilities/openapi.py
Labels: component: openapi

#1384 Support factory functions in fastmcp run
  docs/patterns/cli.mdx
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/install/claude_code.py
  src/fastmcp/cli/install/claude_desktop.py
  src/fastmcp/cli/install/cursor.py
  src/fastmcp/cli/install/mcp_json.py
  src/fastmcp/cli/install/shared.py
  src/fastmcp/cli/run.py
  tests/cli/test_cursor.py
  tests/cli/test_run.py
Labels: documentation, tests

#1397 Fix client-side logging bug #1394
  src/fastmcp/client/logging.py
  tests/client/test_logs.py
Labels: bug, tests, component: client

#1403 docs(client/logging): reflect corrected default log level mapping
  docs/clients/logging.mdx
Labels: documentation

#1387 Improve redirect handling to address 307's
  .gitignore
  src/fastmcp/server/http.py
  src/fastmcp/settings.py
  tests/client/test_openapi_experimental.py
  tests/client/test_openapi_legacy.py
  tests/client/test_streamable_http.py
  tests/server/auth/test_static_token_verifier.py
  tests/server/http/test_http_auth_middleware.py
  tests/server/test_streamable_http_no_redirect.py
Labels: enhancement, tests, component: openapi, component: HTTP

#1405 fix: Fix httpx_client_factory type annotation to match MCP SDK (#1402)
  src/fastmcp/client/transports.py
Labels: component: client

#1423 Ensure resource + template names are properly prefixed when importing/mounting
  docs/servers/composition.mdx
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/resource_manager.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool_manager.py
  src/fastmcp/utilities/components.py
  tests/resources/test_resource_manager.py
  tests/server/test_import_server.py
  tests/server/test_mount.py
  tests/tools/test_tool_manager.py
  tests/utilities/test_components.py
Labels: enhancement, tests

#1425 Fix OpenAPI allOf handling at requestBody top level (#1378)
  src/fastmcp/experimental/utilities/openapi/schemas.py
  tests/experimental/utilities/openapi/test_allof_requestbody.py
Labels: bug, tests, component: openapi

#1426 Fix OpenAPI transitive references and performance (#1372)
  pyproject.toml
  src/fastmcp/experimental/server/openapi/routing.py
  src/fastmcp/experimental/server/openapi/server.py
  src/fastmcp/experimental/utilities/openapi/__init__.py
  src/fastmcp/experimental/utilities/openapi/parser.py
  src/fastmcp/experimental/utilities/openapi/schemas.py
  src/fastmcp/utilities/openapi.py
  tests/experimental/server/conftest.py
  tests/experimental/server/openapi/test_openapi_performance.py
  tests/experimental/server/openapi/test_performance_comparison.py
  tests/experimental/utilities/openapi/conftest.py
  tests/experimental/utilities/openapi/test_parser.py
  tests/experimental/utilities/openapi/test_schemas.py
  tests/experimental/utilities/openapi/test_transitive_references.py
  uv.lock
Labels: bug, tests, component: openapi

#1399 fixes #1398: Add JWT claims to AccessToken
  src/fastmcp/server/auth/auth.py
  src/fastmcp/server/auth/providers/jwt.py
  src/fastmcp/server/dependencies.py
  tests/server/auth/test_jwt_provider.py
  tests/server/auth/test_remote_auth_provider.py
  tests/server/auth/test_static_token_verifier.py
  tests/server/http/test_bearer_auth_backend.py
Labels: enhancement, tests, component: auth

#1428 Pin mcp SDK under 2.0 to avoid breaking changes
  pyproject.toml
  uv.lock
Labels: enhancement

#1435 Clean up complexity from PR #1426
  pyproject.toml
  src/fastmcp/experimental/utilities/openapi/parser.py
  src/fastmcp/experimental/utilities/openapi/schemas.py
  tests/experimental/README.md
  tests/experimental/openapi_parser/README.md
  tests/experimental/openapi_parser/__init__.py
  tests/experimental/openapi_parser/conftest.py
  tests/experimental/openapi_parser/server/__init__.py
  tests/experimental/openapi_parser/server/openapi/__init__.py
  tests/experimental/openapi_parser/server/openapi/test_comprehensive.py
  tests/experimental/openapi_parser/server/openapi/test_deepobject_style.py
  tests/experimental/openapi_parser/server/openapi/test_end_to_end_compatibility.py
  tests/experimental/openapi_parser/server/openapi/test_openapi_features.py
  tests/experimental/openapi_parser/server/openapi/test_openapi_performance.py
  tests/experimental/openapi_parser/server/openapi/test_parameter_collisions.py
  tests/experimental/openapi_parser/server/openapi/test_performance_comparison.py
  tests/experimental/openapi_parser/server/openapi/test_server.py
  tests/experimental/openapi_parser/utilities/__init__.py
  tests/experimental/openapi_parser/utilities/openapi/__init__.py
  tests/experimental/openapi_parser/utilities/openapi/conftest.py
  tests/experimental/openapi_parser/utilities/openapi/test_allof_requestbody.py
  tests/experimental/openapi_parser/utilities/openapi/test_director.py
  tests/experimental/openapi_parser/utilities/openapi/test_legacy_compatibility.py
  tests/experimental/openapi_parser/utilities/openapi/test_models.py
  tests/experimental/openapi_parser/utilities/openapi/test_nullable_fields.py
  tests/experimental/openapi_parser/utilities/openapi/test_parser.py
  tests/experimental/openapi_parser/utilities/openapi/test_schemas.py
  tests/experimental/openapi_parser/utilities/openapi/test_transitive_references.py
  uv.lock
Labels: enhancement, tests, component: openapi

#1443 Ensure transformed tools generate structured content
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_transform.py
  tests/server/test_tool_transformation.py
  tests/tools/test_tool.py
  tests/tools/test_tool_transform.py
Labels: bug, tests

#1446 Add documentation for get_access_token() dependency function
  docs/docs.json
  docs/patterns/http-requests.mdx
  docs/servers/context.mdx
  src/fastmcp/server/auth/__init__.py
  src/fastmcp/server/auth/providers/jwt.py
  src/fastmcp/server/auth/registry.py
  src/fastmcp/server/dependencies.py
  src/fastmcp/server/http.py
  src/fastmcp/server/server.py
  tests/server/auth/test_remote_auth_provider.py
  tests/server/auth/test_static_token_verifier.py
  tests/server/http/test_bearer_auth_backend.py
Labels: documentation, tests, component: HTTP

#1452 Optimize OpenAPI payload size by 46%
  src/fastmcp/experimental/server/openapi/server.py
  src/fastmcp/experimental/utilities/openapi/__init__.py
  src/fastmcp/experimental/utilities/openapi/formatters.py
  src/fastmcp/experimental/utilities/openapi/models.py
  src/fastmcp/experimental/utilities/openapi/parser.py
  src/fastmcp/experimental/utilities/openapi/schemas.py
  tests/experimental/openapi_parser/server/openapi/test_end_to_end_compatibility.py
  tests/experimental/openapi_parser/utilities/openapi/test_models.py
  tests/experimental/openapi_parser/utilities/openapi/test_parser.py
  tests/experimental/openapi_parser/utilities/openapi/test_transitive_references.py
Labels: enhancement, tests, component: openapi

#1448 Update static checks
  .github/workflows/run-static.yml
  .github/workflows/run-tests.yml
  docs/docs.json
  docs/python-sdk/fastmcp-cli-run.mdx
  docs/python-sdk/fastmcp-client-logging.mdx
  docs/python-sdk/fastmcp-client-transports.mdx
  docs/python-sdk/fastmcp-resources-resource_manager.mdx
  docs/python-sdk/fastmcp-server-auth-auth.mdx
  docs/python-sdk/fastmcp-server-auth-providers-bearer_env.mdx
  docs/python-sdk/fastmcp-server-auth-providers-jwt.mdx
  docs/python-sdk/fastmcp-server-auth-providers-workos.mdx
  docs/python-sdk/fastmcp-server-dependencies.mdx
  docs/python-sdk/fastmcp-server-http.mdx
  docs/python-sdk/fastmcp-server-proxy.mdx
  docs/python-sdk/fastmcp-server-server.mdx
  docs/python-sdk/fastmcp-tools-tool.mdx
  docs/python-sdk/fastmcp-tools-tool_manager.mdx
  docs/python-sdk/fastmcp-tools-tool_transform.mdx
  docs/python-sdk/fastmcp-utilities-components.mdx
  docs/python-sdk/fastmcp-utilities-inspect.mdx
  docs/python-sdk/fastmcp-utilities-openapi.mdx
  docs/python-sdk/fastmcp-utilities-types.mdx
  justfile
  src/fastmcp/server/auth/providers/jwt.py
Labels: documentation, enhancement, component: openapi

#1453 Update changelog
  docs/changelog.mdx
Labels: documentation

#1460 Update dedupe logic
  .claude/commands/dedupe.md
  .github/workflows/claude-dedupe-issues.yml
  .github/workflows/marvin.yml
  scripts/auto_close_duplicates.py
Labels: ignore in release notes

#1470 Support importing custom_route endpoints when mounting servers
  docs/python-sdk/fastmcp-server-server.mdx
  docs/servers/composition.mdx
  src/fastmcp/server/http.py
  src/fastmcp/server/server.py
  tests/server/test_mount.py
Labels: documentation, enhancement, tests, component: HTTP

#1473 Update logo files
  .github/workflows/run-static.yml
  docs/assets/brand/card-background.png
  docs/assets/brand/favicon.svg
  docs/assets/brand/logo-wordmark-dark.svg
  docs/assets/brand/logo-wordmark.svg
  docs/css/style.css
  docs/docs.json
Labels: documentation

#1482 Fix breaking change: restore output_schema=False compatibility
  docs/docs.json
  docs/python-sdk/fastmcp-client-transports.mdx
  docs/python-sdk/fastmcp-tools-tool.mdx
  docs/python-sdk/fastmcp-tools-tool_transform.mdx
  src/fastmcp/client/transports.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_transform.py
  tests/deprecated/test_output_schema_false.py
Labels: bug, documentation, tests, component: client

#1483 Update `just` error message for static checks
  .github/workflows/run-static.yml
Labels: tests

#1484 Remove unnecessary asserts
  .github/workflows/run-static.yml
  docs/python-sdk/fastmcp-cli-run.mdx
  docs/python-sdk/fastmcp-server-auth-auth.mdx
  docs/python-sdk/fastmcp-server-context.mdx
  docs/python-sdk/fastmcp-utilities-components.mdx
  src/fastmcp/cli/run.py
  src/fastmcp/experimental/server/openapi/routing.py
  src/fastmcp/experimental/server/openapi/server.py
  src/fastmcp/server/auth/auth.py
  src/fastmcp/server/context.py
  src/fastmcp/utilities/components.py
  src/fastmcp/utilities/json_schema_type.py
Labels: documentation, enhancement, component: openapi

#1498 Fix oauth pyright type checking
  docs/docs.json
  docs/python-sdk/fastmcp-client-auth-oauth.mdx
  src/fastmcp/client/auth/oauth.py
Labels: documentation, component: client

#1510 Add Claude issue triage
  .github/workflows/marvin-dedupe-issues.yml
  .github/workflows/marvin-label-triage.yml
Labels: enhancement

#1499 docs: Fix type annotation in return value documentation
  docs/servers/prompts.mdx
Labels: documentation

#1504 involve kwargs to pass parameters on creating RichHandler for logging customization.
  docs/python-sdk/fastmcp-utilities-logging.mdx
  src/fastmcp/utilities/logging.py
Labels: enhancement

#1513 Move SDK docs generation to post-merge workflow
  .github/workflows/run-static.yml
  .github/workflows/update-sdk-docs.yml
Labels: enhancement

#1520 Add code review guidelines for agents
  AGENTS.md
Labels: enhancement

#1523 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#1517 feat: introduce fastmcp.json configuration system
  docs/deployment/server-configuration.mdx
  docs/docs.json
  docs/integrations/claude-code.mdx
  docs/integrations/claude-desktop.mdx
  docs/integrations/cursor.mdx
  docs/integrations/mcp-json-configuration.mdx
  docs/patterns/cli.mdx
  docs/schemas/fastmcp_config/latest.json
  docs/schemas/fastmcp_config/v1.json
  docs/servers/server.mdx
  examples/atproto_mcp/fastmcp.json
  examples/atproto_mcp/src/atproto_mcp/server.py
  examples/fastmcp_config/env_interpolation_example.json
  examples/fastmcp_config/fastmcp.json
  examples/fastmcp_config/full_example.fastmcp.json
  examples/fastmcp_config/server.py
  examples/fastmcp_config/simple.fastmcp.json
  examples/fastmcp_config_demo/README.md
  examples/fastmcp_config_demo/fastmcp.json
  examples/fastmcp_config_demo/server.py
  examples/memory.fastmcp.json
  examples/mount_example.fastmcp.json
  examples/mount_example.py
  examples/screenshot.fastmcp.json
  examples/smart_home/hub.fastmcp.json
  examples/smart_home/lights.fastmcp.json
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/install/shared.py
  src/fastmcp/cli/run.py
  src/fastmcp/client/transports.py
  src/fastmcp/mcp_config.py
  src/fastmcp/server/server.py
  src/fastmcp/utilities/fastmcp_config/__init__.py
  src/fastmcp/utilities/fastmcp_config/v1/fastmcp_config.py
  src/fastmcp/utilities/fastmcp_config/v1/schema.json
  tests/cli/test_config.py
  tests/cli/test_fastmcp_config_integration.py
  tests/cli/test_fastmcp_config_schema.py
  tests/cli/test_run_config.py
  tests/deprecated/test_dependencies.py
Labels: feature, cli

#1549 feat: trigger Marvin workflow on PR body content
  .github/workflows/marvin.yml
Labels: enhancement

#1550 Add WorkOS and Azure OAuth providers
  .pre-commit-config.yaml
  docs/deployment/self-hosted.mdx
  docs/docs.json
  docs/integrations/anthropic.mdx
  docs/integrations/asgi.mdx
  docs/integrations/azure.mdx
  docs/integrations/claude-desktop.mdx
  docs/integrations/gemini.mdx
  docs/integrations/github.mdx
  docs/integrations/google.mdx
  docs/integrations/openai.mdx
  docs/integrations/workos-oauth.mdx
  docs/python-sdk/fastmcp-prompts-prompt_manager.mdx
  docs/python-sdk/fastmcp-resources-resource_manager.mdx
  docs/python-sdk/fastmcp-server-auth-oauth_proxy.mdx
  docs/python-sdk/fastmcp-server-auth-providers-azure.mdx
  docs/python-sdk/fastmcp-server-auth-providers-github.mdx
  docs/python-sdk/fastmcp-server-auth-providers-google.mdx
  docs/python-sdk/fastmcp-server-auth-providers-workos.mdx
  docs/python-sdk/fastmcp-server-server.mdx
  docs/python-sdk/fastmcp-tools-tool_manager.mdx
  docs/python-sdk/fastmcp-utilities-tests.mdx
  docs/servers/auth/oauth-proxy.mdx
  examples/auth/azure_oauth/README.md
  examples/auth/azure_oauth/client.py
  examples/auth/azure_oauth/server.py
  examples/auth/github_oauth/README.md
  examples/auth/github_oauth/server.py
  examples/auth/google_oauth/README.md
  examples/auth/google_oauth/server.py
  examples/auth/workos_oauth/README.md
  examples/auth/workos_oauth/client.py
  examples/auth/workos_oauth/server.py
  src/fastmcp/server/auth/oauth_proxy.py
  src/fastmcp/server/auth/providers/azure.py
  src/fastmcp/server/auth/providers/github.py
  src/fastmcp/server/auth/providers/google.py
  src/fastmcp/server/auth/providers/workos.py
  src/fastmcp/server/server.py
  tests/integration_tests/auth/test_github_provider_integration.py
  tests/server/auth/__init__.py
  tests/server/auth/providers/__init__.py
  tests/server/auth/providers/test_azure.py
  tests/server/auth/providers/test_github.py
  tests/server/auth/providers/test_google.py
  tests/server/auth/providers/test_workos.py
  tests/server/auth/test_oauth_proxy.py
Labels: enhancement, auth

#1559 Fix pytest warnings
  src/fastmcp/tools/tool_transform.py
  tests/server/test_server_interactions.py
  tests/tools/test_tool_manager.py
Labels: bug, tests

#1568 Added import of AuthProxy to auth __init__
  docs/servers/auth/oauth-proxy.mdx
  src/fastmcp/server/auth/__init__.py
Labels: enhancement, auth

#1607 Implement typed source system for FastMCP configuration
  .gitignore
  docs/assets/schemas/fastmcp_config/latest.json
  docs/assets/schemas/fastmcp_config/v1.json
  docs/deployment/server-configuration.mdx
  docs/integrations/claude-code.mdx
  docs/integrations/claude-desktop.mdx
  docs/integrations/cursor.mdx
  docs/integrations/mcp-json-configuration.mdx
  docs/patterns/cli.mdx
  docs/public/schemas/fastmcp.json/latest.json
  docs/public/schemas/fastmcp.json/v1.json
  examples/atproto_mcp/fastmcp.json
  examples/fastmcp_config/fastmcp.json
  examples/fastmcp_config/full_example.fastmcp.json
  examples/fastmcp_config_demo/fastmcp.json
  src/fastmcp/cli/claude.py
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/install/claude_code.py
  src/fastmcp/cli/install/claude_desktop.py
  src/fastmcp/cli/install/cursor.py
  src/fastmcp/cli/install/mcp_json.py
  src/fastmcp/cli/install/shared.py
  src/fastmcp/cli/run.py
  src/fastmcp/client/transports.py
  src/fastmcp/utilities/cli.py
  src/fastmcp/utilities/fastmcp_config/__init__.py
  src/fastmcp/utilities/fastmcp_config/v1/fastmcp_config.py
  src/fastmcp/utilities/fastmcp_config/v1/schema.json
  test.fastmcp.json
  tests/cli/test_config.py
  tests/cli/test_cursor.py
  tests/cli/test_fastmcp_config_integration.py
  tests/cli/test_fastmcp_config_schema.py
  tests/cli/test_run_config.py
  tests/cli/test_run_with_uv.py
  tests/utilities/test_cli.py
Labels: feature, cli

#1604 Improve debug logging for nested Servers / Clients
  src/fastmcp/client/client.py
  src/fastmcp/client/transports.py
  src/fastmcp/mcp_config.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  src/fastmcp/utilities/mcp_config.py
  tests/server/proxy/test_proxy_server.py
  tests/server/test_mount.py
  tests/server/test_server.py
Labels: enhancement, server

#1581 Add GitHub pull request template
  .github/pull_request_template.md
Labels: enhancement, low-priority

#1613 Experiment with haiku for limited workflows
  .github/workflows/marvin-dedupe-issues.yml
  .github/workflows/marvin-label-triage.yml
Labels: enhancement

#1614 Consolidate server loading logic into FileSystemSource
  docs/deployment/server-configuration.mdx
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/install/shared.py
  src/fastmcp/cli/run.py
  src/fastmcp/utilities/fastmcp_config/__init__.py
  src/fastmcp/utilities/fastmcp_config/v1/__init__.py
  src/fastmcp/utilities/fastmcp_config/v1/fastmcp_config.py
  src/fastmcp/utilities/fastmcp_config/v1/sources/__init__.py
  src/fastmcp/utilities/fastmcp_config/v1/sources/base.py
  src/fastmcp/utilities/fastmcp_config/v1/sources/filesystem.py
  test.fastmcp.json
  tests/cli/test_cli.py
  tests/cli/test_config.py
  tests/cli/test_cursor.py
  tests/cli/test_run.py
  tests/cli/test_run_config.py
  tests/cli/test_run_with_uv.py
  tests/cli/test_server_args.py
  tests/cli/test_with_argv.py
  tests/utilities/test_cli.py
Labels: enhancement, server, cli

#1620 Remove client info modifications
  src/fastmcp/server/auth/oauth_proxy.py
  tests/server/auth/test_oauth_proxy.py
Labels: bug, client, auth, high-priority

#1578 Fix $defs being discarded in input schema of transformed tool
  src/fastmcp/tools/tool_transform.py
  tests/tools/test_tool_transform.py
Labels: bug

#1631 Improve fastmcp.json environment configuration and project-based deployments
  docs/deployment/server-configuration.mdx
  docs/patterns/cli.mdx
  src/fastmcp/cli/claude.py
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/install/claude_code.py
  src/fastmcp/cli/install/claude_desktop.py
  src/fastmcp/cli/install/cursor.py
  src/fastmcp/cli/install/mcp_json.py
  src/fastmcp/cli/run.py
  src/fastmcp/utilities/fastmcp_config/v1/fastmcp_config.py
  src/fastmcp/utilities/fastmcp_config/v1/schema.json
  tests/cli/test_cli.py
  tests/cli/test_config.py
  tests/cli/test_cursor.py
  tests/cli/test_project_prepare.py
  tests/cli/test_run_config.py
  tests/cli/test_run_with_uv.py
  tests/utilities/test_cli.py
Labels: enhancement, cli

#1632 Fix enum elicitation to use inline schemas for MCP compatibility
  src/fastmcp/server/elicitation.py
  tests/client/test_elicitation.py
Labels: bug, server

#1481 Enhance inspect command with structured output and format options
  docs/docs.json
  docs/patterns/cli.mdx
  docs/python-sdk/fastmcp-cli-claude.mdx
  docs/python-sdk/fastmcp-cli-cli.mdx
  docs/python-sdk/fastmcp-cli-install-claude_code.mdx
  docs/python-sdk/fastmcp-cli-install-claude_desktop.mdx
  docs/python-sdk/fastmcp-cli-install-cursor.mdx
  docs/python-sdk/fastmcp-cli-install-mcp_json.mdx
  docs/python-sdk/fastmcp-cli-install-shared.mdx
  docs/python-sdk/fastmcp-cli-run.mdx
  docs/python-sdk/fastmcp-server-auth-oauth_proxy.mdx
  docs/python-sdk/fastmcp-server-elicitation.mdx
  docs/python-sdk/fastmcp-tools-tool_transform.mdx
  docs/python-sdk/fastmcp-utilities-fastmcp_config-__init__.mdx
  docs/python-sdk/fastmcp-utilities-fastmcp_config-v1-__init__.mdx
  docs/python-sdk/fastmcp-utilities-fastmcp_config-v1-fastmcp_config.mdx
  docs/python-sdk/fastmcp-utilities-fastmcp_config-v1-sources-__init__.mdx
  docs/python-sdk/fastmcp-utilities-fastmcp_config-v1-sources-base.mdx
  docs/python-sdk/fastmcp-utilities-fastmcp_config-v1-sources-filesystem.mdx
  docs/python-sdk/fastmcp-utilities-inspect.mdx
  src/fastmcp/cli/cli.py
  src/fastmcp/utilities/inspect.py
  tests/cli/test_cli.py
  tests/utilities/test_inspect.py
Labels: documentation, enhancement, breaking change

#1642 feat: support comma separated oauth scopes
  docs/integrations/azure.mdx
  docs/integrations/github.mdx
  docs/integrations/google.mdx
  docs/integrations/workos-oauth.mdx
  src/fastmcp/server/auth/providers/azure.py
  src/fastmcp/server/auth/providers/github.py
  src/fastmcp/server/auth/providers/google.py
  src/fastmcp/server/auth/providers/jwt.py
  src/fastmcp/server/auth/providers/workos.py
  src/fastmcp/utilities/auth.py
  tests/server/auth/providers/test_azure.py
  tests/server/auth/providers/test_github.py
  tests/server/auth/providers/test_google.py
  tests/server/auth/providers/test_workos.py
Labels: enhancement, auth

#1635 Reuse session for `StdioTransport` in `Client.new`
  src/fastmcp/client/client.py
  src/fastmcp/utilities/mcp_config.py
  tests/client/test_stdio.py
  tests/test_mcp_config.py
Labels: bug, client, high-priority

#1661 Fix OAuth redirect URI validation for DCR compatibility
  docs/servers/auth/oauth-proxy.mdx
  src/fastmcp/server/auth/oauth_proxy.py
  src/fastmcp/server/auth/redirect_validation.py
  tests/server/auth/test_oauth_proxy_redirect_validation.py
  tests/server/auth/test_redirect_validation.py
Labels: bug, auth

#1662 Add allowed_client_redirect_uris to OAuth provider subclasses
  src/fastmcp/server/auth/providers/azure.py
  src/fastmcp/server/auth/providers/github.py
  src/fastmcp/server/auth/providers/google.py
  src/fastmcp/server/auth/providers/workos.py
Labels: enhancement, server, auth

#1660 Consolidate CLI config parsing and prevent infinite loops
  src/fastmcp/cli/claude.py
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/install/claude_code.py
  src/fastmcp/cli/install/claude_desktop.py
  src/fastmcp/cli/install/cursor.py
  src/fastmcp/cli/install/mcp_json.py
  src/fastmcp/cli/install/shared.py
  src/fastmcp/cli/run.py
  src/fastmcp/utilities/cli.py
  src/fastmcp/utilities/fastmcp_config/v1/fastmcp_config.py
  tests/cli/test_config.py
  tests/cli/test_fastmcp_config_integration.py
  tests/cli/test_run_config.py
  tests/cli/test_run_with_uv.py
  tests/utilities/test_cli.py
Labels: enhancement, cli

#1667 Add default scope handling in OAuth proxy
  docs/servers/auth/oauth-proxy.mdx
  src/fastmcp/server/auth/oauth_proxy.py
  tests/server/auth/test_oauth_proxy.py
Labels: bug, server, auth

#1671 Fix OAuth token expiry handling
  src/fastmcp/client/auth/oauth.py
  tests/client/auth/test_oauth_token_expiry.py
Labels: bug, auth

#1676 Add type field to Environment base class
  docs/deployment/server-configuration.mdx
  src/fastmcp/utilities/mcp_server_config/__init__.py
  src/fastmcp/utilities/mcp_server_config/v1/environments/base.py
  src/fastmcp/utilities/mcp_server_config/v1/environments/uv.py
  src/fastmcp/utilities/mcp_server_config/v1/mcp_server_config.py
  src/fastmcp/utilities/mcp_server_config/v1/sources/base.py
  src/fastmcp/utilities/mcp_server_config/v1/sources/filesystem.py
  tests/cli/test_config.py
  tests/cli/test_mcp_server_config_schema.py
Labels: enhancement

#1682 Add resource_server_url parameter to OAuth proxy providers
  docs/servers/auth/oauth-proxy.mdx
  docs/servers/auth/remote-oauth.mdx
  examples/auth/azure_oauth/server.py
  examples/auth/github_oauth/server.py
  examples/auth/google_oauth/server.py
  examples/auth/workos_oauth/server.py
  src/fastmcp/server/auth/oauth_proxy.py
  src/fastmcp/server/auth/providers/azure.py
  src/fastmcp/server/auth/providers/github.py
  src/fastmcp/server/auth/providers/google.py
  src/fastmcp/server/auth/providers/workos.py
Labels: bug, auth

#1684 Ignore chore PRs
  .github/workflows/update-config-schema.yml
  .github/workflows/update-sdk-docs.yml
Labels: enhancement, ignore in release notes

#1691 Update changelog.mdx
  docs/changelog.mdx
Labels: documentation, ignore in release notes
