Repository jlowin/fastmcp, pull requests merged in 2025-06, with the labels that each got.

#646 Update test typing
  tests/client/test_client.py
  tests/client/test_openapi.py
  tests/client/test_roots.py
  tests/client/test_sse.py
  tests/client/test_stdio.py
  tests/client/test_streamable_http.py
  tests/prompts/test_prompt_manager.py
  tests/resources/test_file_resources.py
  tests/server/http/test_http_dependencies.py
  tests/server/openapi/test_openapi.py
  tests/server/test_import_server.py
  tests/server/test_mount.py
  tests/server/test_proxy.py
  tests/server/test_server.py
  tests/server/test_server_interactions.py
  tests/server/test_tool_annotations.py
  tests/test_examples.py
  tests/tools/test_tool.py
  tests/tools/test_tool_manager.py
  tests/utilities/test_mcp_config.py
Labels: tests

#647 Support providing tools at init
  docs/servers/fastmcp.mdx
  src/fastmcp/server/server.py
  tests/server/test_server.py
  uv.lock
Labels: documentation, enhancement, tests

#649 Simplify code for running servers in processes during tests
  src/fastmcp/utilities/tests.py
  tests/auth/test_oauth_client.py
  tests/client/test_openapi.py
  tests/client/test_sse.py
  tests/client/test_streamable_http.py
  tests/server/http/test_http_dependencies.py
Labels: tests

#652 Support configuring bearer auth from env vars
  src/fastmcp/server/auth/auth.py
  src/fastmcp/server/auth/providers/bearer.py
  src/fastmcp/server/auth/providers/bearer_env.py
  src/fastmcp/server/http.py
  src/fastmcp/server/server.py
  src/fastmcp/settings.py
  tests/auth/providers/test_bearer_env.py
Labels: enhancement, tests, component: HTTP

#626 feat(tool): add support for excluding arguments from tool definition
  src/fastmcp/server/openapi.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_manager.py
  tests/server/test_tool_exclude_args.py
Labels: enhancement, tests, component: openapi

#655 Add docs for server + client auth
  docs/clients/auth/bearer.mdx
  docs/clients/auth/oauth.mdx
  docs/deployment/authentication.mdx
  docs/docs.json
  docs/servers/auth/bearer.mdx
  src/fastmcp/client/__init__.py
  src/fastmcp/client/auth/__init__.py
  src/fastmcp/client/auth/bearer.py
  src/fastmcp/client/auth/oauth.py
  src/fastmcp/client/transports.py
  src/fastmcp/server/auth/__init__.py
  tests/auth/providers/test_bearer.py
  tests/auth/test_oauth_client.py
Labels: documentation, feature, tests, component: client, component: auth

#662 Add openai icon
  docs/assets/icons/openai.svg
Labels: documentation

#668 Try mintlify image again
  docs/integrations/openai.mdx
Labels: documentation

#670 abandon custom openai logo
  docs/integrations/openai.mdx
Labels: documentation

#673 Update welcome
  README.md
  docs/getting-started/welcome.mdx
Labels: documentation

#676 Minor docs design updates
  docs/assets/favicon.ico
  docs/assets/icons/openai.svg
  docs/assets/logo.png
  docs/docs.json
Labels: documentation

#680 Add gemini tutorial
  docs/docs.json
  docs/integrations/anthropic.mdx
  docs/integrations/claude-desktop.mdx
  docs/integrations/gemini.mdx
  docs/integrations/openai.mdx
  server.py
Labels: documentation

#642 Updates / Fixes for Tool Content Conversion
  src/fastmcp/tools/tool.py
  tests/tools/test_tool.py
Labels: bug, tests

#697 replace $ref pointing to `#/components/schemas/` with `#/$defs/`
  src/fastmcp/utilities/openapi.py
  tests/utilities/openapi/test_openapi.py
Labels: enhancement, tests, component: openapi

#703 Formalize template/functiontemplate split
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/template.py
  src/fastmcp/server/openapi.py
  src/fastmcp/server/proxy.py
  src/fastmcp/tools/tool.py
  tests/resources/test_resource_template.py
Labels: enhancement, tests

#705 Deprecate passing functions to the server in favor of core objects
  .github/workflows/run-tests.yml
  pyproject.toml
  src/fastmcp/contrib/mcp_mixin/mcp_mixin.py
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/resource_manager.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool_manager.py
  tests/contrib/test_bulk_tool_caller.py
  tests/deprecated/__init__.py
  tests/deprecated/test_deprecated.py
  tests/deprecated/test_mount_separators.py
  tests/deprecated/test_resource_prefixes.py
  tests/deprecated/test_route_type_ignore.py
  tests/server/test_import_server.py
  tests/server/test_server.py
  tests/server/test_server_interactions.py
  tests/server/test_tool_annotations.py
  tests/server/test_tool_exclude_args.py
  tests/tools/test_tool_manager.py
Labels: breaking change

#706 Support flexible @tool decorator call patterns
  README.md
  docs/clients/transports.mdx
  docs/deployment/asgi.mdx
  docs/deployment/running-server.mdx
  docs/getting-started/quickstart.mdx
  docs/getting-started/welcome.mdx
  docs/integrations/anthropic.mdx
  docs/integrations/claude-desktop.mdx
  docs/integrations/gemini.mdx
  docs/integrations/openai.mdx
  docs/patterns/cli.mdx
  docs/patterns/decorating-methods.mdx
  docs/patterns/http-requests.mdx
  docs/patterns/testing.mdx
  docs/servers/auth/bearer.mdx
  docs/servers/composition.mdx
  docs/servers/context.mdx
  docs/servers/fastmcp.mdx
  docs/servers/proxy.mdx
  docs/servers/tools.mdx
  examples/complex_inputs.py
  examples/config_server.py
  examples/desktop.py
  examples/echo.py
  examples/memory.py
  examples/mount_example.py
  examples/sampling.py
  examples/screenshot.py
  examples/serializer.py
  examples/simple_echo.py
  examples/smart_home/src/smart_home/hub.py
  examples/smart_home/src/smart_home/lights/server.py
  src/fastmcp/contrib/bulk_tool_caller/example.py
  src/fastmcp/server/context.py
  src/fastmcp/server/server.py
  tests/auth/providers/test_bearer.py
  tests/auth/test_oauth_client.py
  tests/client/test_client.py
  tests/client/test_logs.py
  tests/client/test_progress.py
  tests/client/test_roots.py
  tests/client/test_sampling.py
  tests/client/test_sse.py
  tests/client/test_stdio.py
  tests/client/test_streamable_http.py
  tests/deprecated/test_deprecated.py
  tests/deprecated/test_mount_separators.py
  tests/server/http/test_http_dependencies.py
  tests/server/test_file_server.py
  tests/server/test_import_server.py
  tests/server/test_mount.py
  tests/server/test_proxy.py
  tests/server/test_run_server.py
  tests/server/test_server.py
  tests/server/test_server_interactions.py
  tests/test_servers/fastmcp_server.py
  tests/tools/test_tool.py
  tests/tools/test_tool_manager.py
  tests/utilities/test_mcp_config.py
Labels: tests

#711 Allow naked prompt decorator
  README.md
  docs/servers/context.mdx
  docs/servers/fastmcp.mdx
  docs/servers/prompts.mdx
  src/fastmcp/server/server.py
  tests/client/test_client.py
  tests/client/test_sse.py
  tests/client/test_streamable_http.py
  tests/deprecated/test_deprecated.py
  tests/deprecated/test_mount_separators.py
  tests/server/http/test_http_dependencies.py
  tests/server/test_import_server.py
  tests/server/test_mount.py
  tests/server/test_proxy.py
  tests/server/test_run_server.py
  tests/server/test_server.py
  tests/server/test_server_interactions.py
  tests/test_servers/fastmcp_server.py
Labels: documentation, tests

#712 Add banner
  docs/docs.json
  docs/style.css
Labels: documentation

#713 Allow clicking on banner
  docs/style.css
Labels: documentation

#714 Add empty parens to docs
  README.md
  docs/clients/transports.mdx
  docs/deployment/asgi.mdx
  docs/deployment/running-server.mdx
  docs/getting-started/quickstart.mdx
  docs/getting-started/welcome.mdx
  docs/integrations/anthropic.mdx
  docs/integrations/claude-desktop.mdx
  docs/integrations/gemini.mdx
  docs/integrations/openai.mdx
  docs/patterns/cli.mdx
  docs/patterns/decorating-methods.mdx
  docs/patterns/http-requests.mdx
  docs/patterns/testing.mdx
  docs/servers/auth/bearer.mdx
  docs/servers/composition.mdx
  docs/servers/context.mdx
  docs/servers/fastmcp.mdx
  docs/servers/prompts.mdx
  docs/servers/proxy.mdx
  docs/servers/tools.mdx
Labels: documentation

#716 Update banner link
  docs/docs.json
Labels: documentation

#727 Return objects from FastMCP decorators
  docs/patterns/decorating-methods.mdx
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/template.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  src/fastmcp/utilities/decorators.py
  tests/server/test_server.py
  tests/server/test_server_interactions.py
  tests/utilities/test_decorated_function.py
Labels: documentation, breaking change, tests

#729 Remove empty parens from decorators in docs
  README.md
  docs/clients/transports.mdx
  docs/deployment/asgi.mdx
  docs/deployment/running-server.mdx
  docs/getting-started/quickstart.mdx
  docs/getting-started/welcome.mdx
  docs/integrations/anthropic.mdx
  docs/integrations/claude-desktop.mdx
  docs/integrations/gemini.mdx
  docs/integrations/openai.mdx
  docs/patterns/cli.mdx
  docs/patterns/decorating-methods.mdx
  docs/patterns/http-requests.mdx
  docs/patterns/testing.mdx
  docs/servers/auth/bearer.mdx
  docs/servers/composition.mdx
  docs/servers/context.mdx
  docs/servers/fastmcp.mdx
  docs/servers/prompts.mdx
  docs/servers/proxy.mdx
  docs/servers/tools.mdx
  tests/server/test_server_interactions.py
Labels: documentation, tests

#731 Switch Pydantic defaults to kwargs
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/resource.py
  src/fastmcp/tools/tool.py
  tests/utilities/test_typeadapter.py
Labels: tests

#747 Respect cache setting, set default to 1 second
  src/fastmcp/server/server.py
  src/fastmcp/settings.py
  tests/server/test_mount.py
Labels: tests

#749 Fix contrib link
  docs/integrations/contrib.mdx
Labels: documentation

#754 Fix passing token string to client auth & add auth to MCPConfig clients
  src/fastmcp/client/transports.py
  src/fastmcp/utilities/mcp_config.py
  tests/client/test_client.py
  tests/server/test_proxy.py
  tests/utilities/test_mcp_config.py
Labels: bug, tests, component: client

#755 Minor docs updates
  docs/integrations/anthropic.mdx
  docs/integrations/claude-desktop.mdx
  docs/integrations/gemini.mdx
  docs/integrations/openai.mdx
Labels: documentation

#758 Ensure client is only initialized once
  src/fastmcp/client/client.py
  src/fastmcp/client/transports.py
  tests/client/test_client.py
  tests/server/test_server_interactions.py
Labels: bug, tests, component: client

#763 MCPConfig refactor
  src/fastmcp/client/transports.py
  src/fastmcp/utilities/mcp_config.py
Labels: component: client

#765 Update updates.mdx
  docs/updates.mdx
Labels: documentation

#767 Add "stop vibe testing" to tutorials
  docs/updates.mdx
Labels: documentation

#745 First-class tool transformation
  docs/docs.json
  docs/patterns/tool-transformation.mdx
  src/fastmcp/server/auth/providers/bearer_env.py
  src/fastmcp/server/openapi.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/__init__.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_transform.py
  tests/server/test_tool_exclude_args.py
  tests/tools/test_tool_transform.py
  tests/utilities/test_types.py
Labels: documentation, feature, tests, component: openapi

#776 Create common base class for components
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/template.py
  src/fastmcp/tools/tool.py
  src/fastmcp/utilities/types.py
  tests/server/test_proxy.py
Labels: enhancement, tests

#777 Move components to own file; add resource
  docs/getting-started/installation.mdx
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/template.py
  src/fastmcp/tools/tool.py
  src/fastmcp/utilities/components.py
  src/fastmcp/utilities/types.py
Labels: documentation, enhancement

#778 Fix field validator for resource
  src/fastmcp/resources/resource.py
  tests/resources/test_resources.py
Labels: bug, tests

#781 Support enable/disable for all FastMCP components (tools, prompts, resources, templates)
  docs/patterns/tool-transformation.mdx
  docs/servers/prompts.mdx
  docs/servers/resources.mdx
  docs/servers/tools.mdx
  src/fastmcp/exceptions.py
  src/fastmcp/prompts/prompt.py
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/template.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_transform.py
  src/fastmcp/utilities/components.py
  tests/server/test_proxy.py
  tests/server/test_server_interactions.py
  tests/tools/test_tool_transform.py
Labels: documentation, feature, tests

#782 Ensure proxies can overwrite remote tools without falling back to the remote
  src/fastmcp/server/proxy.py
  tests/server/test_proxy.py
Labels: bug, tests

#787 Update oauth.mdx
  docs/clients/auth/oauth.mdx
Labels: documentation

#788 Treat all openapi routes as tools
  docs/servers/openapi.mdx
  src/fastmcp/server/openapi.py
  src/fastmcp/server/server.py
  tests/client/test_openapi.py
  tests/server/openapi/test_openapi.py
  tests/server/openapi/test_route_map_fn.py
Labels: documentation, enhancement, breaking change, tests, component: openapi

#748 Add support for tag-based component filtering
  src/fastmcp/server/server.py
  src/fastmcp/settings.py
  src/fastmcp/tools/tool.py
  tests/resources/test_resource_template.py
  tests/server/test_server.py
  tests/server/test_server_interactions.py
Labels: feature, tests

#793 Add docs for tag-based filtering
  docs/servers/fastmcp.mdx
Labels: documentation

#800 Restore .settings access as deprecated
  docs/servers/fastmcp.mdx
  src/fastmcp/server/server.py
Labels: bug, documentation

#804 Ensure we handle false http kwargs correctly; removed unused kwarg
  src/fastmcp/server/server.py
Labels: bug

#808 Update welcome docs
  README.md
  docs/getting-started/welcome.mdx
Labels: documentation

#809 Update headers in docs
  docs/clients/auth/bearer.mdx
Labels: documentation

#833 Add audio support
  README.md
  docs/servers/tools.mdx
  examples/screenshot.py
  src/fastmcp/__init__.py
  src/fastmcp/client/client.py
  src/fastmcp/client/sampling.py
  src/fastmcp/prompts/prompt.py
  src/fastmcp/server/auth/providers/in_memory.py
  src/fastmcp/server/context.py
  src/fastmcp/server/openapi.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_manager.py
  src/fastmcp/tools/tool_transform.py
  src/fastmcp/utilities/types.py
  tests/client/test_streamable_http.py
  tests/contrib/test_bulk_tool_caller.py
  tests/server/test_auth_integration.py
  tests/server/test_server_interactions.py
  tests/tools/test_tool.py
  tests/tools/test_tool_manager.py
  tests/utilities/test_types.py
  uv.lock
Labels: documentation, feature, tests, component: openapi, component: client, example

#848 Update version to not be positional
  src/fastmcp/server/server.py
Labels: enhancement

#861 Consolidate prefix logic into FastMCP methods
  docs/servers/composition.mdx
  src/fastmcp/server/server.py
  test_revert_check.py
  tests/deprecated/test_deprecated.py
  tests/deprecated/test_mount_import_arg_order.py
  tests/deprecated/test_mount_separators.py
  tests/deprecated/test_resource_prefixes.py
  tests/server/openapi/test_openapi.py
  tests/server/test_import_server.py
  tests/server/test_mount.py
  tests/server/test_resource_prefix_formats.py
  tests/server/test_server.py
Labels: documentation, breaking change, tests

#869 Add key to component
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/template.py
  src/fastmcp/server/server.py
  src/fastmcp/utilities/components.py
  test_revert_check.py
  tests/server/test_mount.py
Labels: enhancement, tests

#888 Update types + tests for SDK changes
  src/fastmcp/client/client.py
  src/fastmcp/prompts/prompt.py
  src/fastmcp/server/context.py
  src/fastmcp/server/openapi.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_manager.py
  src/fastmcp/tools/tool_transform.py
  src/fastmcp/utilities/types.py
  tests/server/openapi/test_openapi.py
  tests/tools/test_tool.py
Labels: enhancement, tests, component: openapi, component: client

#892 Fix JWT issuer validation to support string values per RFC 7519
  src/fastmcp/server/auth/providers/bearer.py
  tests/auth/providers/test_bearer.py
Labels: bug, tests

#894 Fix BearerAuthProvider audience type annotations
  src/fastmcp/server/auth/providers/bearer.py
  tests/auth/providers/test_bearer.py
Labels: tests

#893 add api ref
  docs/docs.json
  docs/python-sdk/fastmcp-cli-__init__.mdx
  docs/python-sdk/fastmcp-cli-claude.mdx
  docs/python-sdk/fastmcp-cli-cli.mdx
  docs/python-sdk/fastmcp-cli-run.mdx
  docs/python-sdk/fastmcp-client-__init__.mdx
  docs/python-sdk/fastmcp-client-auth-__init__.mdx
  docs/python-sdk/fastmcp-client-auth-bearer.mdx
  docs/python-sdk/fastmcp-client-auth-oauth.mdx
  docs/python-sdk/fastmcp-client-client.mdx
  docs/python-sdk/fastmcp-client-logging.mdx
  docs/python-sdk/fastmcp-client-oauth_callback.mdx
  docs/python-sdk/fastmcp-client-progress.mdx
  docs/python-sdk/fastmcp-client-roots.mdx
  docs/python-sdk/fastmcp-client-sampling.mdx
  docs/python-sdk/fastmcp-client-transports.mdx
  docs/python-sdk/fastmcp-exceptions.mdx
  docs/python-sdk/fastmcp-prompts-__init__.mdx
  docs/python-sdk/fastmcp-prompts-prompt.mdx
  docs/python-sdk/fastmcp-prompts-prompt_manager.mdx
  docs/python-sdk/fastmcp-resources-__init__.mdx
  docs/python-sdk/fastmcp-resources-resource.mdx
  docs/python-sdk/fastmcp-resources-resource_manager.mdx
  docs/python-sdk/fastmcp-resources-template.mdx
  docs/python-sdk/fastmcp-resources-types.mdx
  docs/python-sdk/fastmcp-server-__init__.mdx
  docs/python-sdk/fastmcp-server-auth-__init__.mdx
  docs/python-sdk/fastmcp-server-auth-auth.mdx
  docs/python-sdk/fastmcp-server-auth-providers-__init__.mdx
  docs/python-sdk/fastmcp-server-auth-providers-bearer.mdx
  docs/python-sdk/fastmcp-server-auth-providers-bearer_env.mdx
  docs/python-sdk/fastmcp-server-auth-providers-in_memory.mdx
  docs/python-sdk/fastmcp-server-context.mdx
  docs/python-sdk/fastmcp-server-dependencies.mdx
  docs/python-sdk/fastmcp-server-http.mdx
  docs/python-sdk/fastmcp-server-middleware.mdx
  docs/python-sdk/fastmcp-server-openapi.mdx
  docs/python-sdk/fastmcp-server-proxy.mdx
  docs/python-sdk/fastmcp-server-server.mdx
  docs/python-sdk/fastmcp-settings.mdx
  docs/python-sdk/fastmcp-tools-__init__.mdx
  docs/python-sdk/fastmcp-tools-tool.mdx
  docs/python-sdk/fastmcp-tools-tool_manager.mdx
  docs/python-sdk/fastmcp-tools-tool_transform.mdx
  docs/python-sdk/fastmcp-utilities-__init__.mdx
  docs/python-sdk/fastmcp-utilities-cache.mdx
  docs/python-sdk/fastmcp-utilities-components.mdx
  docs/python-sdk/fastmcp-utilities-exceptions.mdx
  docs/python-sdk/fastmcp-utilities-http.mdx
  docs/python-sdk/fastmcp-utilities-json_schema.mdx
  docs/python-sdk/fastmcp-utilities-logging.mdx
  docs/python-sdk/fastmcp-utilities-mcp_config.mdx
  docs/python-sdk/fastmcp-utilities-openapi.mdx
  docs/python-sdk/fastmcp-utilities-types.mdx
  justfile
Labels: documentation

#900 Fix api ref rendering
  docs/docs.json
  docs/python-sdk/fastmcp-cli-claude.mdx
  docs/python-sdk/fastmcp-cli-run.mdx
  docs/python-sdk/fastmcp-client-auth-oauth.mdx
  docs/python-sdk/fastmcp-server-auth-providers-bearer.mdx
  docs/python-sdk/fastmcp-server-server.mdx
  docs/python-sdk/fastmcp-tools-tool_transform.mdx
  docs/python-sdk/fastmcp-utilities-json_schema.mdx
  justfile
  src/fastmcp/client/auth/oauth.py
Labels: documentation, component: client

#897 Openapi recursive components
  src/fastmcp/utilities/json_schema.py
  src/fastmcp/utilities/openapi.py
  tests/utilities/openapi/test_openapi_advanced.py
  tests/utilities/test_json_schema.py
Labels: tests, component: openapi

#902 Simplify docs nav
  docs/changelog.mdx
  docs/clients/auth/bearer.mdx
  docs/clients/auth/oauth.mdx
  docs/docs.json
  docs/integrations/anthropic.mdx
  docs/integrations/gemini.mdx
  docs/integrations/openai.mdx
  docs/servers/auth/bearer.mdx
  docs/updates.mdx
Labels: documentation

#906 Add httpx.Auth Support to RemoteMCPServer for Custom Authentication methods to multiple MCP Servers
  src/fastmcp/utilities/mcp_config.py
Labels: enhancement

#913 Update docs nav
  docs/docs.json
Labels: documentation

#917 Add http as an alias for streamable http
  CLAUDE.md
  README.md
  docs/clients/client.mdx
  docs/clients/transports.mdx
  docs/deployment/running-server.mdx
  docs/getting-started/installation.mdx
  docs/integrations/anthropic.mdx
  docs/integrations/chatgpt.mdx
  docs/integrations/claude-code.mdx
  docs/integrations/openai.mdx
  docs/patterns/cli.mdx
  docs/python-sdk/fastmcp-client-transports.mdx
  docs/servers/auth/bearer.mdx
  docs/servers/proxy.mdx
  docs/servers/server.mdx
  docs/tutorials/rest-api.mdx
  docs/updates.mdx
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/run.py
  src/fastmcp/client/transports.py
  src/fastmcp/server/server.py
  src/fastmcp/utilities/mcp_config.py
  tests/auth/providers/test_bearer.py
  tests/auth/test_oauth_client.py
  tests/cli/test_cli.py
  tests/client/test_openapi.py
  tests/client/test_streamable_http.py
  tests/deprecated/test_deprecated.py
  tests/server/http/test_http_dependencies.py
  tests/server/http/test_http_middleware.py
Labels: documentation, tests, component: client

#918 Clean up parameter documentation
  docs/.cursor/rules/mintlify.mdc
  docs/clients/logging.mdx
  docs/clients/progress.mdx
  docs/clients/sampling.mdx
  docs/servers/auth/bearer.mdx
  docs/servers/prompts.mdx
  docs/servers/resources.mdx
  docs/servers/server.mdx
  docs/servers/tools.mdx
Labels: documentation

#916 Add ATProto (Bluesky) MCP Server Example
  examples/atproto_mcp/README.md
  examples/atproto_mcp/demo.py
  examples/atproto_mcp/pyproject.toml
  examples/atproto_mcp/src/atproto_mcp/__init__.py
  examples/atproto_mcp/src/atproto_mcp/__main__.py
  examples/atproto_mcp/src/atproto_mcp/_atproto/__init__.py
  examples/atproto_mcp/src/atproto_mcp/_atproto/_client.py
  examples/atproto_mcp/src/atproto_mcp/_atproto/_posts.py
  examples/atproto_mcp/src/atproto_mcp/_atproto/_profile.py
  examples/atproto_mcp/src/atproto_mcp/_atproto/_read.py
  examples/atproto_mcp/src/atproto_mcp/_atproto/_social.py
  examples/atproto_mcp/src/atproto_mcp/py.typed
  examples/atproto_mcp/src/atproto_mcp/server.py
  examples/atproto_mcp/src/atproto_mcp/settings.py
  examples/atproto_mcp/src/atproto_mcp/types.py
Labels: example

#921 remove uv source in example
  examples/atproto_mcp/pyproject.toml
Labels: example

#923 Update release categories
  .github/release.yml
Labels: ignore in release notes

#935 run `just api-ref-all` to get new source links
  docs/docs.json
  docs/python-sdk/fastmcp-cli-claude.mdx
  docs/python-sdk/fastmcp-cli-cli.mdx
  docs/python-sdk/fastmcp-cli-run.mdx
  docs/python-sdk/fastmcp-client-auth-bearer.mdx
  docs/python-sdk/fastmcp-client-auth-oauth.mdx
  docs/python-sdk/fastmcp-client-client.mdx
  docs/python-sdk/fastmcp-client-logging.mdx
  docs/python-sdk/fastmcp-client-oauth_callback.mdx
  docs/python-sdk/fastmcp-client-roots.mdx
  docs/python-sdk/fastmcp-client-sampling.mdx
  docs/python-sdk/fastmcp-client-transports.mdx
  docs/python-sdk/fastmcp-exceptions.mdx
  docs/python-sdk/fastmcp-prompts-prompt.mdx
  docs/python-sdk/fastmcp-prompts-prompt_manager.mdx
  docs/python-sdk/fastmcp-resources-resource.mdx
  docs/python-sdk/fastmcp-resources-resource_manager.mdx
  docs/python-sdk/fastmcp-resources-template.mdx
  docs/python-sdk/fastmcp-resources-types.mdx
  docs/python-sdk/fastmcp-server-auth-auth.mdx
  docs/python-sdk/fastmcp-server-auth-providers-bearer.mdx
  docs/python-sdk/fastmcp-server-auth-providers-bearer_env.mdx
  docs/python-sdk/fastmcp-server-auth-providers-in_memory.mdx
  docs/python-sdk/fastmcp-server-context.mdx
  docs/python-sdk/fastmcp-server-dependencies.mdx
  docs/python-sdk/fastmcp-server-http.mdx
  docs/python-sdk/fastmcp-server-middleware-__init__.mdx
  docs/python-sdk/fastmcp-server-middleware-error_handling.mdx
  docs/python-sdk/fastmcp-server-middleware-logging.mdx
  docs/python-sdk/fastmcp-server-middleware-middleware.mdx
  docs/python-sdk/fastmcp-server-middleware-rate_limiting.mdx
  docs/python-sdk/fastmcp-server-middleware-timing.mdx
  docs/python-sdk/fastmcp-server-openapi.mdx
  docs/python-sdk/fastmcp-server-proxy.mdx
  docs/python-sdk/fastmcp-server-server.mdx
  docs/python-sdk/fastmcp-settings.mdx
  docs/python-sdk/fastmcp-tools-tool.mdx
  docs/python-sdk/fastmcp-tools-tool_manager.mdx
  docs/python-sdk/fastmcp-tools-tool_transform.mdx
  docs/python-sdk/fastmcp-utilities-cache.mdx
  docs/python-sdk/fastmcp-utilities-components.mdx
  docs/python-sdk/fastmcp-utilities-exceptions.mdx
  docs/python-sdk/fastmcp-utilities-http.mdx
  docs/python-sdk/fastmcp-utilities-inspect.mdx
  docs/python-sdk/fastmcp-utilities-json_schema.mdx
  docs/python-sdk/fastmcp-utilities-logging.mdx
  docs/python-sdk/fastmcp-utilities-mcp_config.mdx
  docs/python-sdk/fastmcp-utilities-openapi.mdx
  docs/python-sdk/fastmcp-utilities-tests.mdx
  docs/python-sdk/fastmcp-utilities-types.mdx
Labels: documentation

#953 Fix parameter location enum handling in OpenAPI parser
  src/fastmcp/utilities/openapi.py
  tests/server/openapi/test_openapi_path_parameters.py
Labels: tests, component: openapi

#954 Fix external schema reference handling in OpenAPI parser
  src/fastmcp/utilities/openapi.py
  tests/utilities/openapi/test_openapi_advanced.py
Labels: tests, component: openapi

#957 fix(examples): update mount_example.py to work with current fastmcp API
  examples/mount_example.py
Labels: example

#939 Add automatic MCP list change notifications and client message handling
  CLAUDE.md
  docs/clients/messages.mdx
  docs/docs.json
  docs/servers/context.mdx
  docs/servers/prompts.mdx
  docs/servers/resources.mdx
  docs/servers/tools.mdx
  src/fastmcp/client/client.py
  src/fastmcp/client/logging.py
  src/fastmcp/client/messages.py
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/template.py
  src/fastmcp/server/context.py
  src/fastmcp/server/low_level.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  tests/client/test_notifications.py
  tests/prompts/test_prompt_manager.py
  tests/resources/test_resource_template.py
  tests/tools/test_tool_manager.py
Labels: documentation, feature, tests, component: client

#966 MCP 6/18/25: Update auth primitives
  src/fastmcp/client/transports.py
  src/fastmcp/server/auth/providers/bearer.py
  src/fastmcp/server/auth/providers/in_memory.py
  src/fastmcp/server/http.py
  tests/auth/providers/test_token_verifier.py
  tests/server/http/test_auth_setup.py
  tests/server/http/test_bearer_auth_backend.py
  uv.lock
Labels: enhancement

#976 Component Manager
  src/fastmcp/contrib/component_manager/README.md
  src/fastmcp/contrib/component_manager/__init__.py
  src/fastmcp/contrib/component_manager/component_manager.py
  src/fastmcp/contrib/component_manager/component_service.py
  src/fastmcp/contrib/component_manager/example.py
  tests/contrib/test_component_manager.py
Labels: tests, contrib

#977 Add OpenAPI extensions support to HTTPRoute
  src/fastmcp/utilities/openapi.py
  tests/utilities/openapi/test_openapi.py
Labels: tests, component: openapi

#889 MCP 6/18/25: Elicitation support
  CLAUDE.md
  docs/clients/elicitation.mdx
  docs/docs.json
  docs/servers/context.mdx
  docs/servers/elicitation.mdx
  docs/servers/logging.mdx
  docs/servers/progress.mdx
  docs/servers/sampling.mdx
  src/fastmcp/client/client.py
  src/fastmcp/client/elicitation.py
  src/fastmcp/client/transports.py
  src/fastmcp/server/context.py
  src/fastmcp/server/elicitation.py
  src/fastmcp/utilities/json_schema_type.py
  tests/client/test_elicitation.py
  tests/utilities/test_json_schema_type.py
Labels: documentation, feature, tests

#975 Introduce Eunomia authorization middleware integration
  docs/docs.json
  docs/integrations/eunomia-authorization.mdx
Labels: documentation

#982 Add title field support to FastMCP components
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/template.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  src/fastmcp/utilities/components.py
  tests/tools/test_tool.py
Labels: enhancement, tests

#983 Support implicit Elicitation acceptance
  docs/clients/elicitation.mdx
  src/fastmcp/client/elicitation.py
  tests/client/test_streamable_http.py
Labels: documentation, enhancement, tests, component: client

#984 Improve stdio error handling to raise connection failures immediately
  src/fastmcp/client/client.py
  src/fastmcp/client/transports.py
  tests/client/test_stdio.py
Labels: bug, tests, component: client

#995 Fix output schema generation edge case
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_transform.py
  tests/server/test_server_interactions.py
  tests/tools/test_tool.py
  tests/tools/test_tool_transform.py
Labels: bug, tests

#998 Remove automatic trailing slash modification from server paths
  src/fastmcp/server/http.py
Labels: bug, component: HTTP

#999 Update middleware imports and documentation
  CLAUDE.md
  docs/servers/middleware.mdx
  src/fastmcp/server/middleware/__init__.py
  src/fastmcp/server/middleware/middleware.py
Labels: documentation

#997 Add Support for Configurable Algorithms
  docs/servers/auth/bearer.mdx
  src/fastmcp/server/auth/providers/bearer.py
  src/fastmcp/server/auth/providers/bearer_env.py
Labels: documentation
