Repository jlowin/fastmcp, pull requests merged in 2025-04, with the labels that each got.

#99 Support mounting FastMCP instances as sub-MCPs
  .github/ai-labeler.yml
  .github/workflows/ai-labeler.yml
  .github/workflows/run-static.yml
  .github/workflows/run-tests.yml
  README.md
  examples/modular_app.py
  examples/mount_example.py
  pyproject.toml
  src/fastmcp/prompts/__init__.py
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/__init__.py
  src/fastmcp/resources/resource_manager.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool_manager.py
  tests/prompts/test_prompt_manager.py
  tests/resources/test_resource_manager.py
  tests/server.py
  tests/server/test_mount.py
  tests/tools/__init__.py
  tests/tools/test_tool_manager.py
  tests/tools/tool_manager.py
  uv.lock
Labels: feature

#100 Add in-memory client for calling FastMCP servers (and tests)
  pyproject.toml
  src/fastmcp/__init__.py
  src/fastmcp/clients/__init__.py
  src/fastmcp/clients/base.py
  src/fastmcp/clients/fastmcp_client.py
  src/fastmcp/clients/sse.py
  src/fastmcp/clients/stdio.py
  src/fastmcp/clients/websocket.py
  tests/clients/__init__.py
  tests/clients/test_fastmcp_client.py
  uv.lock
Labels: feature

#105 Add MCP proxy server
  pyproject.toml
  src/fastmcp/clients/base.py
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/resource_manager.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool_manager.py
  tests/clients/test_fastmcp_client.py
  tests/prompts/test_prompt_manager.py
  tests/resources/test_resource_manager.py
  tests/server/test_proxy.py
  tests/tools/test_tool_manager.py
  uv.lock
Labels: feature

#110 Generate FastMCP servers from OpenAPI specs and FastAPI
  .github/workflows/run-static.yml
  .github/workflows/run-tests.yml
  examples/modular_app.py
  pyproject.toml
  src/fastmcp/clients/base.py
  src/fastmcp/clients/stdio.py
  src/fastmcp/server/openapi.py
  src/fastmcp/server/server.py
  src/fastmcp/utilities/openapi.py
  tests/server/test_openapi.py
  tests/server/test_proxy.py
  tests/utilities/__init__.py
  tests/utilities/openapi/__init__.py
  tests/utilities/openapi/conftest.py
  tests/utilities/openapi/test_openapi.py
  tests/utilities/openapi/test_openapi_advanced.py
  tests/utilities/openapi/test_openapi_fastapi.py
  uv.lock
Labels: feature

#111 Reorganize all client / transports
  examples/modular_app.py
  src/fastmcp/__init__.py
  src/fastmcp/client/__init__.py
  src/fastmcp/client/base.py
  src/fastmcp/client/client.py
  src/fastmcp/client/transports.py
  src/fastmcp/clients/__init__.py
  src/fastmcp/clients/base.py
  src/fastmcp/clients/fastmcp_client.py
  src/fastmcp/clients/sse.py
  src/fastmcp/clients/stdio.py
  src/fastmcp/clients/websocket.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  tests/client/__init__.py
  tests/client/test_fastmcp_transport.py
  tests/server/test_proxy.py
  tests/server/test_run_server.py
  tests/server/test_servers/fastmcp_server.py
  tests/server/test_servers/sse.py
  tests/server/test_servers/stdio.py
Labels: enhancement

#116 Fix bug with tools that return lists
  src/fastmcp/server/server.py
  tests/server/test_server.py
Labels: bug

#121 Add tags for all core MCP objects
  .cursor/rules/core-mcp-objects.mdc
  src/fastmcp/prompts/__init__.py
  src/fastmcp/prompts/prompt.py
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/__init__.py
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/resource_manager.py
  src/fastmcp/resources/template.py
  src/fastmcp/resources/types.py
  src/fastmcp/server/openapi.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  src/fastmcp/settings.py
  src/fastmcp/tools/__init__.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_manager.py
  src/fastmcp/utilities/types.py
  tests/prompts/test_base.py
  tests/prompts/test_prompt_manager.py
  tests/resources/test_resource_manager.py
  tests/server/test_server.py
  tests/tools/test_tool_manager.py
Labels: feature, breaking change

#122 Add tests for tags in server decorators
  tests/server/test_server.py
Labels: tests

#123 Improve client return types
  src/fastmcp/client/client.py
  src/fastmcp/server/proxy.py
  tests/client/test_client.py
  tests/client/test_roots.py
  tests/client/test_sampling.py
Labels: enhancement, breaking change

#124 Ensure that openapi tags are transferred to MCP objects
  src/fastmcp/server/openapi.py
  src/fastmcp/server/server.py
  tests/server/test_openapi.py
  tests/utilities/openapi/test_openapi.py
  tests/utilities/openapi/test_openapi_fastapi.py
Labels: enhancement

#125 Clean up server tests
  src/fastmcp/server/server.py
  tests/server/test_server.py
Labels: tests

#129 Enter mounted app lifespans
  src/fastmcp/server/server.py
  tests/server/test_mount.py
Labels: bug

#136 Add docs
  docs/clients/overview.mdx
  docs/clients/transports.mdx
  docs/docs.json
  docs/getting-started/installation.mdx
  docs/getting-started/quickstart.mdx
  docs/getting-started/welcome.mdx
  docs/patterns/composition.mdx
  docs/patterns/fastapi.mdx
  docs/patterns/openapi.mdx
  docs/patterns/proxying.mdx
  docs/servers/context.mdx
  docs/servers/fastmcp.mdx
  docs/servers/prompts.mdx
  docs/servers/resources.mdx
  docs/servers/resources_backup.mdx
  docs/servers/tools.mdx
  docs/style.css
  pyproject.toml
  src/fastmcp/cli/cli.py
  src/fastmcp/client/transports.py
  src/fastmcp/server/server.py
  uv.lock
Labels: documentation

#137 Add docs link to readme
  README.md
  docs/getting-started/welcome.mdx
Labels: documentation

#138 Minor docs updates
  README.md
  docs/getting-started/welcome.mdx
Labels: documentation

#168 Allow tool manager to store an alternative name for tools
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_manager.py
  tests/server/test_mount.py
  tests/server/test_server.py
  tests/tools/test_tool_manager.py
Labels: enhancement

#169 Fix bug with duplicate behavior == ignore
  docs/servers/fastmcp.mdx
  docs/servers/prompts.mdx
  docs/servers/resources.mdx
  docs/servers/resources_backup.mdx
  docs/servers/tools.mdx
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/resource_manager.py
  src/fastmcp/settings.py
  src/fastmcp/tools/tool_manager.py
  tests/prompts/test_prompt_manager.py
  tests/resources/test_resource_manager.py
  tests/tools/test_tool_manager.py
Labels: bug

#171 Generate MCP resources and templates on respective classes
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/resource_manager.py
  src/fastmcp/resources/template.py
  src/fastmcp/server/server.py
  tests/client/test_client.py
  tests/resources/test_resource_template.py
Labels: bug, enhancement

#173 Create MCP prompts on object; fix issue with forwarding proxy templates
  src/fastmcp/prompts/prompt.py
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/template.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool_manager.py
  tests/resources/test_resource_template.py
  tests/server/test_mount.py
Labels: enhancement

#182 Move test servers; default SSE to 127.0.0.1
  src/fastmcp/settings.py
  tests/test_servers/fastmcp_server.py
  tests/test_servers/sse.py
  tests/test_servers/stdio.py
Labels: enhancement

#181 Add npx validation
  src/fastmcp/client/transports.py
Labels: enhancement

#176 Refactor MCP composition
  README.md
  docs/clients/overview.mdx
  docs/patterns/composition.mdx
  docs/patterns/proxying.mdx
  docs/servers/fastmcp.mdx
  pyproject.toml
  src/fastmcp/client/client.py
  src/fastmcp/client/transports.py
  src/fastmcp/exceptions.py
  src/fastmcp/prompts/prompt.py
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/resource_manager.py
  src/fastmcp/server/openapi.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  src/fastmcp/settings.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_manager.py
  tests/client/test_client.py
  tests/prompts/test_base.py
  tests/prompts/test_prompt_manager.py
  tests/resources/test_file_resources.py
  tests/resources/test_function_resources.py
  tests/resources/test_resource_manager.py
  tests/resources/test_resource_template.py
  tests/resources/test_resources.py
  tests/server/test_file_server.py
  tests/server/test_import_server.py
  tests/server/test_lifespan.py
  tests/server/test_mount.py
  tests/server/test_openapi.py
  tests/server/test_proxy.py
  tests/server/test_run_server.py
  tests/server/test_server.py
  tests/tools/test_tool_manager.py
  tests/utilities/test_func_metadata.py
  uv.lock
Labels: feature, breaking change

#184 Improve integration documentation
  docs/patterns/fastapi.mdx
  docs/patterns/openapi.mdx
  pyproject.toml
  src/fastmcp/server/server.py
  uv.lock
Labels: documentation

#200 Fix missing parentheses in `@mcp.tool` decorator example
  docs/getting-started/quickstart.mdx
Labels: documentation

#232 Remove mock transport
  tests/client/test_client.py
Labels: enhancement

#222 fix fastmcp version ,python path valueError
  src/fastmcp/cli/cli.py
Labels: bug

#233 Document ping
  docs/clients/client.mdx
Labels: documentation

#243 Update mermaid diagram
  docs/patterns/proxy.mdx
Labels: documentation

#246 Add wildcard params for resource templates
  docs/servers/resources.mdx
  src/fastmcp/resources/template.py
  tests/resources/test_resource_template.py
Labels: enhancement

#249 Update README.md Grammar error
  README.md
Labels: documentation

#252 fix: unintended type convert
  src/fastmcp/utilities/func_metadata.py
  tests/utilities/test_func_metadata.py
Labels: bug

#253 Allow customization of inspector proxy port, ui port, and version
  src/fastmcp/cli/cli.py
Labels: enhancement

#254 Ensure openapi resources return valid responses
  src/fastmcp/server/openapi.py
  tests/server/test_openapi.py
Labels: bug

#255 Add resource template tests
  tests/resources/test_resource_template.py
Labels: tests

#256 Ensure servers expose template wildcards
  docs/servers/resources.mdx
  src/fastmcp/resources/template.py
  tests/resources/test_resource_template.py
  tests/server/test_server.py
Labels: bug, documentation

#257 Update wildcards to 2.2.4
  docs/servers/resources.mdx
Labels: documentation

#258 Update note in templates docs
  docs/servers/resources.mdx
Labels: documentation

#261 Significant documentation and test expansion for tool input types
  docs/servers/context.mdx
  docs/servers/prompts.mdx
  docs/servers/resources.mdx
  docs/servers/tools.mdx
  tests/server/test_server.py
  tests/server/test_server_interactions.py
Labels: documentation, tests

#262 Add tests for tool return types; improve serialization behavior
  docs/servers/tools.mdx
  src/fastmcp/tools/tool.py
  tests/server/test_server_interactions.py
Labels: enhancement, tests

#263 Support context injection in resources, templates, and prompts (like tools)
  docs/servers/context.mdx
  docs/servers/prompts.mdx
  docs/servers/resources.mdx
  docs/servers/tools.mdx
  src/fastmcp/prompts/prompt.py
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/resource_manager.py
  src/fastmcp/resources/template.py
  src/fastmcp/resources/types.py
  src/fastmcp/server/openapi.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  tests/server/test_server_interactions.py
Labels: documentation, feature

#260 Added feature : Load MCP server using config
  src/fastmcp/client/base.py
  src/fastmcp/client/client.py
  src/fastmcp/client/transports.py
Labels: feature

#237 small typing fixes
  examples/smart_home/src/smart_home/lights/server.py
  src/fastmcp/__init__.py
  src/fastmcp/server/server.py
Labels: enhancement

#279 Expose configurable timeout for OpenAPI
  docs/patterns/fastapi.mdx
  docs/patterns/openapi.mdx
  src/fastmcp/server/openapi.py
  tests/server/test_openapi.py
Labels: enhancement

#283 Ensure openapi tool responses are properly converted
  src/fastmcp/server/openapi.py
  src/fastmcp/server/proxy.py
  tests/server/test_openapi.py
Labels: bug

#285 Fix OpenAPI examples
  docs/patterns/fastapi.mdx
  docs/patterns/openapi.mdx
Labels: bug, documentation

#284 Fix client docs for advanced features, add tests for logging
  docs/clients/client.mdx
  src/fastmcp/client/client.py
  src/fastmcp/client/logging.py
  src/fastmcp/client/sampling.py
  src/fastmcp/server/context.py
  tests/client/test_logs.py
  tests/server/test_server_interactions.py
Labels: bug, documentation

#287 Improve OpenAPI param handling
  docs/patterns/openapi.mdx
  src/fastmcp/server/openapi.py
  tests/server/test_openapi.py
Labels: enhancement

#290 use pydantic_core.to_json
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/types.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  tests/resources/test_function_resources.py
  tests/resources/test_resource_template.py
  tests/server/test_mount.py
  tests/server/test_server_interactions.py
  tests/tools/test_tool_manager.py
Labels: enhancement
