Repository jlowin/fastmcp, pull requests merged in 2025-10, with the labels that each got.

#1975 cli: fix banner width by removing emoji variation selectors
  src/fastmcp/utilities/cli.py
Labels: cli

#2000 Mark GitHub Integration tests as flaky
  pyproject.toml
  tests/integration_tests/test_github_mcp_remote.py
  uv.lock
Labels: enhancement, tests

#2002 Additional Tool Transformation Examples for Client Wrapping
  docs/patterns/tool-transformation.mdx
Labels: documentation

#2005 Internal refactor of MCP handlers
  examples/mount_example.py
  examples/serializer.py
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/resource_manager.py
  src/fastmcp/server/context.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool_manager.py
  tests/server/http/test_custom_routes.py
  tests/server/openapi/test_openapi_path_parameters.py
  tests/server/proxy/test_proxy_server.py
  tests/server/test_file_server.py
  tests/server/test_server.py
  tests/server/test_tool_annotations.py
  tests/server/test_tool_transformation.py
Labels: enhancement, server

#1546 Support `initialize` requests in middleware
  docs/servers/middleware.mdx
  src/fastmcp/server/low_level.py
  src/fastmcp/server/middleware/middleware.py
  src/fastmcp/server/server.py
  tests/server/middleware/test_initialization_middleware.py
  tests/server/middleware/test_middleware.py
  tests/server/middleware/test_rate_limiting.py
Labels: enhancement, server
