Repository jlowin/fastmcp, pull requests merged in 2025-05, with the labels that each got.

#299 Add support for tool annotations
  docs/servers/tools.mdx
  src/fastmcp/server/openapi.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_manager.py
  tests/server/test_tool_annotations.py
Labels: feature

#300 Add auth support
  .github/workflows/run-tests.yml
  README.md
  docs/servers/fastmcp.mdx
  justfile
  src/fastmcp/server/server.py
  src/fastmcp/settings.py
  tests/server/test_auth_integration.py
Labels: feature

#301 Add low-level methods to client
  docs/clients/client.mdx
  src/fastmcp/client/client.py
  src/fastmcp/contrib/bulk_tool_caller/bulk_tool_caller.py
  src/fastmcp/server/proxy.py
  tests/client/test_client.py
  tests/server/test_server_interactions.py
Labels: feature

#302 Add method for retrieving current starlette request to FastMCP context
  docs/servers/context.mdx
  src/fastmcp/server/context.py
  src/fastmcp/server/server.py
  src/fastmcp/utilities/http.py
Labels: enhancement

#303 get_starlette_request → get_http_request
  docs/servers/context.mdx
  src/fastmcp/server/context.py
Labels: enhancement

#308 Support custom Serializer for Tools
  examples/serializer.py
  src/fastmcp/server/openapi.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_manager.py
  tests/tools/test_tool_manager.py
Labels: enhancement

#309 Support proxy mount
  docs/patterns/composition.mdx
  docs/servers/fastmcp.mdx
  src/fastmcp/server/server.py
  tests/server/test_mount.py
Labels: enhancement

#310 Ensure that tool serialization has a graceful fallback
  docs/patterns/composition.mdx
  docs/servers/fastmcp.mdx
  src/fastmcp/tools/tool.py
  tests/tools/test_tool_manager.py
Labels: bug

#312 Update docs for clarity
  README.md
  docs/getting-started/installation.mdx
  docs/getting-started/welcome.mdx
Labels: documentation

#317 Handle *args/**kwargs appropriately for various components
  docs/servers/prompts.mdx
  docs/servers/resources.mdx
  docs/servers/tools.mdx
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/template.py
  src/fastmcp/tools/tool.py
  tests/prompts/test_prompt_manager.py
  tests/resources/test_resource_template.py
  tests/server/test_server_interactions.py
  tests/tools/test_tool.py
  tests/tools/test_tool_manager.py
Labels: enhancement

#323 Add timeout-graceful-shutdown as a default config for SSE app
  src/fastmcp/server/server.py
Labels: enhancement

#327 Add client badge
  .github/ISSUE_TEMPLATE/bug.yml
  docs/clients/client.mdx
Labels: documentation

#328 Update bug.yml
  .github/ISSUE_TEMPLATE/bug.yml
Labels: documentation

#337 Coerce numbers to str
  src/fastmcp/tools/tool.py
  src/fastmcp/utilities/types.py
Labels: bug

#342 Fix prompt test
  tests/test_examples.py
Labels: bug

#347 Context refactor
  docs/servers/context.mdx
  src/fastmcp/__init__.py
  src/fastmcp/prompts/prompt.py
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/resource_manager.py
  src/fastmcp/resources/template.py
  src/fastmcp/resources/types.py
  src/fastmcp/server/__init__.py
  src/fastmcp/server/context.py
  src/fastmcp/server/dependencies.py
  src/fastmcp/server/http.py
  src/fastmcp/server/openapi.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_manager.py
  src/fastmcp/utilities/cache.py
  src/fastmcp/utilities/http.py
  tests/prompts/test_prompt_manager.py
  tests/resources/test_resource_template.py
  tests/tools/test_tool_manager.py
Labels: enhancement, breaking change

#356 Ensure a response is returned from sse endpoint
  src/fastmcp/server/server.py
Labels: bug

#304 feat: Streamable HTTP client support
  src/fastmcp/client/transports.py
Labels: enhancement

#369 Fix import error
  .github/workflows/run-tests.yml
  src/fastmcp/server/http.py
Labels: bug

#376 Update mcp pin to 1.8
  pyproject.toml
  src/fastmcp/server/http.py
  src/fastmcp/vendor/streamable_http_manager.py
  uv.lock
Labels: enhancement

#377 Update transport docs
  README.md
  docs/clients/transports.mdx
Labels: documentation

#379 Fix tool result serialization when the tool returns a list
  src/fastmcp/tools/tool.py
  tests/tools/test_tool_manager.py
Labels: bug

#385 Fixing various text typos
  docs/getting-started/installation.mdx
  docs/getting-started/quickstart.mdx
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
Labels: documentation

#390 Ensure FastMCP handles nested SSE and SHTTP apps properly in ASGI frameworks
  docs/deployment/asgi.mdx
  docs/deployment/running-server.mdx
  docs/docs.json
  pyproject.toml
  src/fastmcp/low_level/README.md
  src/fastmcp/low_level/__init__.py
  src/fastmcp/low_level/sse_server_transport.py
  src/fastmcp/server/http.py
  tests/client/test_sse.py
  tests/client/test_streamable_http.py
Labels: bug, documentation

#387 Adding a few tests to Image type
  tests/utilities/test_types.py
Labels: tests

#394 Adding 23 tests for CLI
  tests/cli/test_cli.py
Labels: tests

#398 Allow users to pass middleware to starlette app constructors
  docs/deployment/asgi.mdx
  src/fastmcp/server/http.py
  src/fastmcp/server/server.py
  test.py
  tests/server/test_http_middleware.py
Labels: enhancement

#402 Update CLI docs
  docs/deployment/cli.mdx
  docs/deployment/running-server.mdx
  docs/docs.json
  docs/servers/composition.mdx
  docs/servers/proxy.mdx
  src/fastmcp/cli/cli.py
Labels: documentation

#404 Add test for no prefix when importing
  src/fastmcp/server/server.py
  tests/server/test_mount.py
Labels: tests

#403 Update composition docs
  docs/servers/composition.mdx
  examples/complex_inputs.py
  examples/desktop.py
Labels: documentation

#405 Fix bug that sets message path and sse path to same value
  src/fastmcp/server/server.py
  src/fastmcp/utilities/tests.py
  tests/client/test_sse.py
Labels: bug

#427 Pin to mcp 1.8.1 to resolve callback deadlocks with SHTTP
  pyproject.toml
Labels: bug

#432 Add path prefix to test
  tests/client/test_sse.py
  tests/client/test_streamable_http.py
Labels: tests

#437 feat: add support for removing tools from server
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool_manager.py
  tests/server/test_server.py
  tests/tools/test_tool_manager.py
Labels: enhancement

#440 Add documentation for tool removal
  docs/servers/tools.mdx
Labels: documentation

#447 Add reprs for OpenAPI objects
  src/fastmcp/server/openapi.py
  tests/server/test_openapi.py
  tests/utilities/openapi/test_openapi_fastapi.py
Labels: bug

#448 Ensure openapi defs for structured objects are loaded properly
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/template.py
  src/fastmcp/tools/tool.py
  src/fastmcp/utilities/json_schema.py
  src/fastmcp/utilities/openapi.py
  tests/server/test_openapi.py
  tests/utilities/test_json_schema.py
  tests/utilities/test_typeadapter.py
Labels: bug

#449 Prune titles from JSONSchemas
  src/fastmcp/utilities/json_schema.py
  tests/utilities/test_json_schema.py
Labels: enhancement

#450 Declare toolsChanged capability for stdio server.
  src/fastmcp/server/server.py
Labels: enhancement

#452 Improve handling of exceptiongroups when raised in clients
  src/fastmcp/client/client.py
  src/fastmcp/client/transports.py
  src/fastmcp/settings.py
  src/fastmcp/utilities/exceptions.py
  tests/server/test_openapi.py
  tests/server/test_proxy.py
  tests/server/test_server.py
  tests/server/test_server_interactions.py
  tests/tools/test_tool.py
Labels: enhancement, component: client

#454 Ensure tests run against correct python version
  .github/workflows/run-tests.yml
  uv.lock
Labels: bug, tests

#456 Ensure result is only returned if a new key was found
  src/fastmcp/server/server.py
Labels: bug

#455 Add timeout support to client
  .github/workflows/run-tests.yml
  docs/clients/client.mdx
  src/fastmcp/client/client.py
  src/fastmcp/client/transports.py
  src/fastmcp/exceptions.py
  src/fastmcp/utilities/exceptions.py
  tests/client/test_client.py
  tests/client/test_sse.py
  tests/client/test_streamable_http.py
Labels: feature

#458 Update transport docs
  docs/clients/client.mdx
  docs/clients/transports.mdx
  docs/patterns/testing.mdx
  src/fastmcp/client/transports.py
Labels: documentation

#468 run tests on all PRs
  .github/workflows/run-static.yml
  .github/workflows/run-tests.yml
  tests/client/test_sse.py
Labels: tests

#477 doc(asgi): Change custom route example to PlainTextResponse
  docs/deployment/asgi.mdx
  docs/deployment/running-server.mdx
Labels: documentation

#486 Fix flaky timeout test by increasing timeout (#474)
  tests/client/test_client.py
Labels: tests

#483 Add lifespan property to app
  docs/deployment/asgi.mdx
  src/fastmcp/server/http.py
  src/fastmcp/server/server.py
  tests/client/test_streamable_http.py
Labels: documentation, enhancement, tests, component: HTTP

#489 Store FastMCP instance on app.state.fastmcp_server
  docs/deployment/asgi.mdx
  src/fastmcp/server/http.py
  tests/server/test_app_state.py
Labels: documentation, tests, component: HTTP, codex

#491 Update `fastmcp run` to work with remote servers
  docs/deployment/cli.mdx
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/run.py
  src/fastmcp/server/http.py
  src/fastmcp/server/server.py
  tests/cli/test_cli.py
  tests/cli/test_run.py
Labels: documentation, feature, tests, component: HTTP

#490 Add FastMCP.as_proxy()
  README.md
  docs/servers/composition.mdx
  docs/servers/fastmcp.mdx
  docs/servers/proxy.mdx
  examples/in_memory_proxy_example.py
  src/fastmcp/server/server.py
  tests/server/test_import_server.py
  tests/server/test_mount.py
  tests/server/test_proxy.py
  tests/test_deprecated.py
Labels: enhancement, codex

#492 Improve AGENTS.md overview
  AGENTS.md
Labels: documentation, codex

#502 Skipping `test_permission_error` if runner is root.
  tests/resources/test_file_resources.py
Labels: tests

#514 Skip timeout tests on windows
  tests/client/test_client.py
  tests/client/test_sse.py
  tests/client/test_streamable_http.py
Labels: tests

#512 Infer sse transport from urls containing /sse
  docs/clients/transports.mdx
  src/fastmcp/client/transports.py
  tests/client/test_client.py
Labels: documentation, enhancement, tests, component: client

#509 Store the initialize result on the client
  src/fastmcp/client/client.py
  src/fastmcp/client/transports.py
  tests/client/test_client.py
  tests/server/test_server_interactions.py
Labels: enhancement, tests, component: client

#519 Ensure openapi path params are handled properly
  src/fastmcp/server/openapi.py
  src/fastmcp/utilities/openapi.py
  tests/server/test_openapi_path_parameters.py
Labels: tests, component: openapi

#520 Allow * Methods and all routes as tools shortcuts
  docs/patterns/openapi.mdx
  src/fastmcp/server/openapi.py
  src/fastmcp/server/server.py
  tests/server/test_openapi.py
Labels: enhancement

#521 better error when missing lifespan
  .github/workflows/run-tests.yml
  src/fastmcp/server/http.py
  src/fastmcp/utilities/tests.py
  tests/contrib/test_bulk_tool_caller.py
  tests/server/test_auth_integration.py
  tests/server/test_http_middleware.py
  tests/server/test_lifespan.py
  tests/server/test_openapi_path_parameters.py
  tests/test_deprecated.py
  tests/test_examples.py
Labels: tests, component: HTTP

#522 Improved support for config dicts
  src/fastmcp/client/transports.py
  src/fastmcp/server/proxy.py
  src/fastmcp/utilities/mcp_config.py
  tests/client/test_client.py
  tests/utilities/test_mcp_config.py
Labels: enhancement, tests, component: client

#523 Avoid hanging on initializing server session
  src/fastmcp/client/client.py
Labels: bug, component: client

#526 Remove customizable separators; improve resource separator
  docs/servers/composition.mdx
  src/fastmcp/server/server.py
  tests/deprecated/__init__.py
  tests/deprecated/test_deprecated.py
  tests/deprecated/test_mount_separators.py
  tests/server/test_import_server.py
  tests/server/test_mount.py
  tests/server/test_openapi.py
  tests/server/test_server.py
Labels: documentation, enhancement, breaking change, tests

#527 Support creating clients from MCP config dicts, including multi-server clients
  README.md
  docs/clients/advanced-features.mdx
  docs/clients/client.mdx
  docs/clients/transports.mdx
  docs/docs.json
  docs/servers/composition.mdx
  docs/servers/proxy.mdx
  src/fastmcp/client/client.py
  src/fastmcp/client/transports.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  src/fastmcp/utilities/mcp_config.py
  tests/client/test_client.py
  tests/utilities/test_mcp_config.py
Labels: documentation, feature, tests, component: client

#534 Make resource prefix format configurable
  docs/servers/composition.mdx
  src/fastmcp/server/server.py
  src/fastmcp/settings.py
  tests/deprecated/test_resource_prefixes.py
  tests/server/test_resource_prefix_formats.py
Labels: documentation, enhancement, tests

#539 Add FastMCP 1.0 server support for in-memory Client / Testing
  docs/clients/client.mdx
  docs/clients/transports.mdx
  src/fastmcp/client/transports.py
  tests/client/test_client.py
Labels: documentation, enhancement, tests, component: client, codex

#551 Add versioning note to docs
  docs/getting-started/installation.mdx
Labels: documentation

#555 Minor addition: add transport to stdio server in mcpconfig, with default
  src/fastmcp/utilities/mcp_config.py
  tests/utilities/test_mcp_config.py
Labels: enhancement, tests

#554 Raise an error if a Client is created with no servers in config
  src/fastmcp/client/transports.py
  tests/client/test_client.py
Labels: enhancement, tests, component: client

#542 Expose model preferences in `Context.sample` for flexible model selection.
  docs/servers/context.mdx
  src/fastmcp/server/context.py
  tests/server/test_context.py
Labels: documentation, enhancement, tests

#558 Ensure custom routes are respected
  src/fastmcp/server/http.py
  src/fastmcp/server/server.py
  tests/server/http/test_custom_routes.py
  tests/server/http/test_http_dependencies.py
  tests/server/http/test_http_middleware.py
Labels: enhancement, tests, component: HTTP

#563 Add client method to send cancellation notifications
  src/fastmcp/client/client.py
Labels: enhancement, component: client

#567 Bump 2.3.6 references to 2.4.0
  docs/clients/client.mdx
  docs/clients/transports.mdx
  docs/servers/composition.mdx
  docs/servers/proxy.mdx
  src/fastmcp/server/server.py
Labels: documentation

#564 Enhance route map logic for include/exclude OpenAPI routes
  docs/patterns/openapi.mdx
  src/fastmcp/server/openapi.py
  src/fastmcp/server/server.py
  tests/deprecated/test_route_type_ignore.py
  tests/server/openapi/test_openapi.py
  tests/server/openapi/test_openapi_path_parameters.py
  tests/server/test_route_map_shortcuts.py
Labels: documentation, feature, tests, component: openapi

#565 Add tag-based route maps
  docs/docs.json
  docs/patterns/fastapi.mdx
  docs/patterns/openapi.mdx
  docs/servers/openapi.mdx
  examples/tags_example.py
  src/fastmcp/server/openapi.py
  src/fastmcp/server/server.py
  tests/server/openapi/test_openapi.py
  tests/server/test_route_map_shortcuts.py
Labels: feature

#566 Add advanced control of openAPI route creation
  README.md
  docs/getting-started/welcome.mdx
  docs/servers/openapi.mdx
  src/fastmcp/server/openapi.py
  src/fastmcp/server/server.py
  tests/server/openapi/test_route_map_fn.py
Labels: documentation, feature, tests, component: openapi

#550 Make error masking configurable
  docs/servers/resources.mdx
  docs/servers/tools.mdx
  src/fastmcp/client/client.py
  src/fastmcp/prompts/prompt.py
  src/fastmcp/prompts/prompt_manager.py
  src/fastmcp/resources/resource_manager.py
  src/fastmcp/server/server.py
  src/fastmcp/settings.py
  src/fastmcp/tools/tool_manager.py
  tests/client/test_client.py
  tests/contrib/test_bulk_tool_caller.py
  tests/prompts/test_prompt_manager.py
  tests/resources/test_resource_manager.py
  tests/tools/test_tool_manager.py
Labels: documentation, feature, tests, component: client

#576 Use lowercase name for headers when comparing
  src/fastmcp/client/transports.py
  src/fastmcp/server/openapi.py
  tests/client/test_openapi.py
Labels: enhancement, tests, component: openapi, component: client

#578 Permit more flexible name generation for OpenAPI servers
  docs/servers/openapi.mdx
  src/fastmcp/server/openapi.py
  src/fastmcp/server/server.py
  tests/client/test_openapi.py
  tests/server/openapi/test_openapi.py
  tests/server/openapi/test_openapi_path_parameters.py
Labels: documentation, feature, tests, component: openapi

#579 Ensure that tools/templates/prompts are compatible with callable objects
  pyproject.toml
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/template.py
  src/fastmcp/settings.py
  src/fastmcp/tools/tool.py
  src/fastmcp/utilities/logging.py
  tests/prompts/test_prompt.py
  tests/prompts/test_prompt_manager.py
  tests/resources/test_resource_template.py
  tests/server/test_server_interactions.py
  tests/tools/test_tool.py
  tests/tools/test_tool_manager.py
  tests/utilities/test_tests.py
  uv.lock
Labels: enhancement, tests

#583 Fix redundant section of docs
  docs/servers/openapi.mdx
Labels: documentation

#589 Ensure content-length is always stripped from client headers
  docs/patterns/http-requests.mdx
  src/fastmcp/client/transports.py
  src/fastmcp/server/dependencies.py
  src/fastmcp/server/openapi.py
  tests/client/test_openapi.py
Labels: bug, documentation, tests, component: openapi, component: client

#607 add init_timeout for mcp client
  src/fastmcp/client/client.py
Labels: component: client

#610 Fix handling tools without descriptions
  src/fastmcp/resources/template.py
  src/fastmcp/tools/tool.py
  tests/server/test_proxy.py
Labels: bug, tests

#620 Ensure behavior-affecting headers are excluded when forwarding proxies/openapi
  docs/patterns/http-requests.mdx
  src/fastmcp/server/dependencies.py
  tests/client/test_openapi.py
Labels: bug, documentation, tests

#635 fix: Support concurrency in FastMcpProxy (and Client)
  src/fastmcp/client/client.py
  tests/server/test_proxy.py
Labels: bug, tests, component: client
