Repository jlowin/fastmcp, pull requests merged in 2025-09, with the labels that each got.

#1702 Fix documentation: use StreamableHttpTransport for headers in testing
  docs/deployment/testing.mdx
Labels: documentation, client, auth, http

#1669 docs: add performance warnings for mounted servers and proxies
  docs/servers/composition.mdx
  docs/servers/proxy.mdx
Labels: documentation, server, http

#1703 Update documentation around scopes for google
  docs/integrations/google.mdx
  src/fastmcp/server/auth/oauth_proxy.py
Labels: documentation

#1710 refactor: replace auth provider registry with ImportString
  docs/docs.json
  docs/integrations/authkit.mdx
  docs/integrations/azure.mdx
  docs/integrations/github.mdx
  docs/integrations/google.mdx
  docs/integrations/workos-oauth.mdx
  docs/python-sdk/fastmcp-client-elicitation.mdx
  docs/python-sdk/fastmcp-server-auth-oauth_proxy.mdx
  docs/python-sdk/fastmcp-server-auth-providers-azure.mdx
  docs/python-sdk/fastmcp-server-auth-providers-github.mdx
  docs/python-sdk/fastmcp-server-auth-providers-google.mdx
  docs/python-sdk/fastmcp-server-auth-providers-jwt.mdx
  docs/python-sdk/fastmcp-server-auth-providers-workos.mdx
  docs/python-sdk/fastmcp-server-auth-registry.mdx
  docs/python-sdk/fastmcp-server-context.mdx
  docs/python-sdk/fastmcp-server-dependencies.mdx
  docs/python-sdk/fastmcp-server-elicitation.mdx
  docs/python-sdk/fastmcp-server-server.mdx
  docs/servers/auth/authentication.mdx
  docs/servers/auth/oauth-proxy.mdx
  docs/servers/auth/token-verification.mdx
  src/fastmcp/server/auth/providers/azure.py
  src/fastmcp/server/auth/providers/github.py
  src/fastmcp/server/auth/providers/google.py
  src/fastmcp/server/auth/providers/jwt.py
  src/fastmcp/server/auth/providers/workos.py
  src/fastmcp/server/auth/registry.py
  src/fastmcp/server/server.py
  src/fastmcp/settings.py
Labels: bug, breaking change, server, auth

#1701 Make openai depedency optional
  examples/sampling_fallback.py
  pyproject.toml
  src/fastmcp/experimental/sampling/handlers/__init__.py
  src/fastmcp/experimental/sampling/handlers/openai.py
  uv.lock
Labels: enhancement, dependencies

#1714 OAuthProxy forward PKCE parameters
  src/fastmcp/server/auth/oauth_proxy.py
  tests/server/auth/test_oauth_proxy.py
Labels: enhancement, server, auth

#1433 Add deployment information to quickstart
  docs/getting-started/quickstart.mdx
Labels: documentation

#1717 Expose valid scopes from OAuthProxy metadata
  src/fastmcp/server/auth/oauth_proxy.py
  tests/server/auth/test_oauth_proxy.py
Labels: enhancement, server, auth

#1734 Run integration tests with a longer timeout
  .github/workflows/run-tests.yml
Labels: enhancement, ignore in release notes, tests

#1733 OAuth proxy PKCE forwarding
  docs/servers/auth/oauth-proxy.mdx
  src/fastmcp/server/auth/oauth_proxy.py
  tests/server/auth/test_oauth_proxy.py
Labels: enhancement, server, auth

#1759 Update result printing in README example
  README.md
Labels: documentation

#1709 feat: add support for Gemini CLI integration
  docs/integrations/gemini-cli.mdx
  src/fastmcp/cli/install/__init__.py
  src/fastmcp/cli/install/gemini_cli.py
  tests/cli/test_install.py
Labels: enhancement, cli

#1742 Protected resource advertises valid scopes, if available
  src/fastmcp/server/auth/auth.py
Labels: enhancement, server, auth

#1769 Clean up uvenvironment and ensure `uv run --with fastmcp` is used by install commands
  src/fastmcp/cli/claude.py
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/install/claude_code.py
  src/fastmcp/cli/install/claude_desktop.py
  src/fastmcp/cli/install/cursor.py
  src/fastmcp/cli/install/gemini_cli.py
  src/fastmcp/cli/install/mcp_json.py
  src/fastmcp/cli/run.py
  src/fastmcp/client/transports.py
  src/fastmcp/utilities/mcp_server_config/v1/environments/uv.py
  tests/cli/test_config.py
  tests/cli/test_cursor.py
  tests/cli/test_mcp_server_config_integration.py
  tests/cli/test_run_config.py
  tests/cli/test_run_with_uv.py
  tests/utilities/test_cli.py
Labels: bug, cli

#1704 Preserve order in mixed text/image tool returns
  src/fastmcp/tools/tool.py
  tests/server/test_server_interactions.py
  tests/test_examples.py
  tests/tools/test_tool.py
  tests/tools/test_tool_manager.py
Labels: bug, server

#1771 feat: Add flexible parameter forwarding to OAuth proxy
  docs/servers/auth/oauth-proxy.mdx
  src/fastmcp/server/auth/oauth_proxy.py
  tests/server/auth/test_oauth_proxy.py
Labels: enhancement, server, auth

#1770 Remove run_with_uv() and inline UV logic in cli.py
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/run.py
  tests/cli/test_run_with_uv.py
Labels: enhancement, cli

#1821 Update quickstart.mdx
  docs/getting-started/quickstart.mdx
Labels: bug, documentation

#1812 feat: Move the Starlette context middleware to the front
  src/fastmcp/server/http.py
Labels: enhancement, server, auth, http

#1817 feat: Add support for OIDC configuration
  docs/docs.json
  docs/integrations/auth0.mdx
  docs/servers/auth/oidc-proxy.mdx
  src/fastmcp/server/auth/oidc_proxy.py
  src/fastmcp/server/auth/providers/auth0.py
  tests/server/auth/providers/test_auth0.py
  tests/server/auth/test_oidc_proxy.py
Labels: feature, auth

#1823 Remove extraneous union import
  src/fastmcp/server/http.py
Labels: bug, server

#1805 Refactor Logging and Structured Logging Middleware
  src/fastmcp/server/middleware/logging.py
  tests/server/middleware/test_logging.py
Labels: enhancement, server

#1833 chore: Set redirect_path default in function
  src/fastmcp/server/auth/oauth_proxy.py
  src/fastmcp/server/auth/providers/azure.py
  src/fastmcp/server/auth/providers/github.py
  src/fastmcp/server/auth/providers/google.py
  src/fastmcp/server/auth/providers/workos.py
  tests/server/auth/providers/test_auth0.py
Labels: enhancement, server, auth

#1838 feat: Set instructions in code
  src/fastmcp/server/server.py
  tests/server/test_server.py
Labels: enhancement, server

#1866 fix: Increase default 3s timeout on Pytest
  pyproject.toml
Labels: bug, high-priority, tests

#1850 fix: Improve URL handling in OIDCConfiguration
  src/fastmcp/server/auth/oidc_proxy.py
  tests/server/auth/test_oidc_proxy.py
Labels: bug, auth

#1735 feat(experimental/openapi): replace $ref in additionalProperties; add tests
  src/fastmcp/experimental/utilities/openapi/schemas.py
  tests/experimental/openapi_parser/utilities/openapi/test_schemas.py
Labels: bug, openapi

#1779 Automatically Create inline Snapshots
  .github/workflows/run-tests.yml
  AGENTS.md
  docs/development/tests.mdx
  pyproject.toml
Labels: enhancement, tests

#1834 Fix: FastAPI list parameter parsing in experimental OpenAPI parser
  src/fastmcp/experimental/utilities/openapi/schemas.py
  tests/experimental/openapi_parser/utilities/openapi/test_direct_array_schemas.py
Labels: bug, server, openapi

#1840 Add log level support for stdio and HTTP transports
  AGENTS.md
  src/fastmcp/cli/run.py
  src/fastmcp/server/server.py
  src/fastmcp/utilities/logging.py
  src/fastmcp/utilities/mcp_server_config/v1/mcp_server_config.py
  tests/cli/test_run_config.py
  tests/server/test_log_level.py
Labels: bug, cli, fastmcp.json

#1874 Fix OAuth pre-flight check to accept HTTP 200 responses
  src/fastmcp/client/auth/oauth.py
Labels: bug, client, auth

#1877 Fix: Preserve OpenAPI parameter descriptions in experimental parser
  src/fastmcp/experimental/utilities/openapi/schemas.py
  tests/experimental/openapi_parser/server/openapi/test_openapi_features.py
Labels: bug, openapi

#1879 Add persistent storage for OAuth client registrations
  docs/servers/auth/oauth-proxy.mdx
  src/fastmcp/client/auth/oauth.py
  src/fastmcp/server/auth/oauth_proxy.py
  src/fastmcp/server/auth/oidc_proxy.py
  src/fastmcp/server/auth/providers/auth0.py
  src/fastmcp/server/auth/providers/azure.py
  src/fastmcp/server/auth/providers/github.py
  src/fastmcp/server/auth/providers/google.py
  src/fastmcp/server/auth/providers/workos.py
  src/fastmcp/utilities/storage.py
  tests/client/auth/test_oauth_token_expiry.py
  tests/server/auth/test_oauth_proxy.py
  tests/server/auth/test_oauth_proxy_storage.py
  tests/utilities/test_storage.py
Labels: bug, server, auth

#1883 Update readme + welcome docs
  README.md
  docs/assets/brand/f-watercolor-background-dark.png
  docs/assets/brand/f-watercolor-background.png
  docs/assets/brand/logo-robot.mp4
  docs/assets/brand/wordmark-padded.png
  docs/assets/brand/wordmark-white-padded.png
  docs/assets/brand/wordmark-white.png
  docs/assets/brand/wordmark.png
  docs/docs.json
  docs/getting-started/quickstart.mdx
  docs/getting-started/welcome.mdx
Labels: documentation

#1884 Update welcome images
  README.md
  docs/assets/brand/f-watercolor-waves-dark.png
  docs/assets/brand/f-watercolor-waves.png
  docs/assets/brand/logo-robot.mp4
  docs/assets/brand/wordmark-watercolor-rainbow-dark.png
  docs/assets/brand/wordmark-watercolor-rainbow.png
  docs/assets/brand/wordmark-watercolor-waves-dark.png
  docs/assets/brand/wordmark-watercolor-waves.png
  docs/docs.json
  docs/getting-started/welcome.mdx
Labels: enhancement

#1914 Fix: get_resource_url nested URL handling
  src/fastmcp/server/auth/auth.py
  tests/server/auth/test_remote_auth_provider.py
Labels: bug, server, auth

#1873 Add AWS Cognito OAuth Provider for Enterprise Authentication
  docs/docs.json
  docs/integrations/aws-cognito.mdx
  docs/servers/auth/authentication.mdx
  docs/servers/auth/oauth-proxy.mdx
  docs/servers/auth/oidc-proxy.mdx
  docs/servers/auth/remote-oauth.mdx
  examples/auth/aws_oauth/README.md
  examples/auth/aws_oauth/client.py
  examples/auth/aws_oauth/requirements.txt
  examples/auth/aws_oauth/server.py
  src/fastmcp/server/auth/oauth_proxy.py
  src/fastmcp/server/auth/providers/aws.py
  tests/server/auth/providers/test_aws.py
Labels: enhancement, server, auth

#1928 Fix route count logging in OpenAPI server
  src/fastmcp/server/openapi.py
Labels: bug, server, openapi

#1922 Fix typos discovered by codespell
  .pre-commit-config.yaml
  docs/changelog.mdx
  pyproject.toml
  src/fastmcp/contrib/mcp_mixin/README.md
  tests/client/test_client.py
Labels: enhancement

#1791 Use lowercase namespace for fastmcp logger
  src/fastmcp/cli/install/gemini_cli.py
  src/fastmcp/utilities/logging.py
  src/fastmcp/utilities/tests.py
  tests/server/middleware/test_error_handling.py
  tests/server/middleware/test_logging.py
  tests/server/middleware/test_timing.py
  tests/utilities/test_logging.py
Labels: enhancement

#1948 Refactor OAuth 2.1 error handling with TokenHandler subclass
  src/fastmcp/server/auth/oauth_proxy.py
  tests/server/auth/test_oauth_proxy.py
Labels: enhancement, server, auth

#1954 Expand timeouts
  .github/workflows/run-tests.yml
  tests/client/test_sse.py
Labels: enhancement, client, tests

#1953 Fix SSE endpoint accepting POST requests instead of returning 405
  src/fastmcp/server/auth/auth.py
  src/fastmcp/server/auth/oauth_proxy.py
  src/fastmcp/server/auth/providers/descope.py
  src/fastmcp/server/auth/providers/scalekit.py
  src/fastmcp/server/auth/providers/workos.py
  src/fastmcp/server/http.py
Labels: bug, server, http

#1971 Add RFC 6570 query parameter support to resource templates
  docs/servers/resources.mdx
  src/fastmcp/resources/template.py
  tests/resources/test_resource_template.py
  tests/server/test_server_interactions.py
Labels: feature, server
