Repository jlowin/fastmcp, pull requests merged in 2025-07, with the labels that each got.

#1008 Fix OpenAPI array parameter explode handling
  src/fastmcp/server/openapi.py
  src/fastmcp/utilities/openapi.py
  tests/server/openapi/test_explode_integration.py
  tests/server/openapi/test_openapi_path_parameters.py
Labels: bug, tests, component: openapi

#1009 Update changelog.mdx
  docs/changelog.mdx
Labels: documentation

#1011 Revert "Add CLI banner"
  docs/patterns/cli.mdx
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/run.py
  src/fastmcp/server/server.py
  src/fastmcp/utilities/cli.py
  tests/cli/test_cli.py
Labels: documentation, tests

#1030 Reduce banner padding
  src/fastmcp/utilities/cli.py
Labels: enhancement

#1018 Expose stateless_http kwarg for mcp.run()
  src/fastmcp/server/server.py
  src/fastmcp/settings.py
  tests/client/test_streamable_http.py
Labels: bug, tests

#1022 Proxy support advanced MCP features
  docs/servers/proxy.mdx
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  tests/server/proxy/test_proxy_client.py
  tests/server/test_proxy.py
Labels: documentation, feature, tests

#1042 Avoid propagating logs
  src/fastmcp/utilities/logging.py
  src/fastmcp/utilities/tests.py
  tests/deprecated/test_settings.py
  tests/prompts/test_prompt_manager.py
  tests/resources/test_resource_manager.py
  tests/server/test_mount.py
  tests/tools/test_tool.py
  tests/tools/test_tool_manager.py
Labels: bug, tests

#1045 Ensure multi-client configurations use new ProxyClient
  src/fastmcp/client/elicitation.py
  src/fastmcp/client/transports.py
  tests/client/test_elicitation.py
  tests/client/test_openapi.py
  tests/server/test_import_server.py
  tests/server/test_mount.py
  tests/tools/test_tool_transform.py
  tests/utilities/test_mcp_config.py
Labels: enhancement, tests, component: client

#1055 Docs: add example of more concise way to use bearer auth
  docs/clients/transports.mdx
Labels: documentation

#1054 Refactor Client context management to avoid concurrency issue
  src/fastmcp/client/client.py
Labels: component: client

#1057 Remove asserts and add documentation following #1054
  src/fastmcp/client/client.py
Labels: component: client

#1063 Add --copy flag for fastmcp version
  .github/ISSUE_TEMPLATE/bug.yml
  pyproject.toml
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/install/mcp_config.py
  tests/cli/test_cli.py
  uv.lock
Labels: tests

#1066 Keep json schema $defs on transform
  src/fastmcp/tools/tool_transform.py
  tests/tools/test_tool_transform.py
Labels: bug, tests

#1071 Ensure fastmcp version copy is plaintext
  src/fastmcp/cli/cli.py
  tests/cli/test_cli.py
  uv.lock
Labels: bug, tests, component: CLI

#1074 Fix single-element list unwrapping in tool content
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/resource.py
  src/fastmcp/tools/tool.py
  src/fastmcp/tools/tool_transform.py
  tests/client/test_client.py
  tests/resources/test_function_resources.py
  tests/server/test_server_interactions.py
  tests/test_examples.py
  tests/tools/test_tool.py
  tests/tools/test_tool_manager.py
  tests/tools/test_tool_transform.py
Labels: bug, tests

#1073 Add output schema support for OpenAPI tools
  src/fastmcp/server/openapi.py
  src/fastmcp/utilities/openapi.py
  tests/server/openapi/test_basic_functionality.py
  tests/utilities/openapi/test_openapi_output_schemas.py
Labels: feature, tests, component: openapi

#1076 Add fastmcp version --copy documentation
  docs/patterns/cli.mdx
Labels: documentation

#1087 feat: Add `--path` Option to CLI for HTTP/SSE Route
  docs/patterns/cli.mdx
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/run.py
  tests/cli/test_cli.py
Labels: documentation, enhancement, tests, component: CLI

#1083 Fix concurrent proxy client operations with session isolation
  docs/servers/proxy.mdx
  docs/servers/server.mdx
  src/fastmcp/client/client.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  tests/client/test_client.py
  tests/deprecated/test_proxy_client.py
  tests/server/proxy/__init__.py
  tests/server/proxy/test_proxy_client.py
  tests/server/proxy/test_proxy_server.py
Labels: documentation, enhancement, tests, component: client

#1096 Fix OpenAPI tool name registration when modified by mcp_component_fn
  src/fastmcp/server/openapi.py
  tests/server/openapi/test_route_map_fn.py
Labels: bug, tests, component: openapi

#1099 Ensure the CLI accepts "streamable-http" as a valid transport
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/run.py
  tests/cli/test_cli.py
Labels: bug, tests

#1103 Improve transport + integration docs
  .gitignore
  docs/clients/transports.mdx
  docs/deployment/asgi.mdx
  docs/docs.json
  docs/integrations/fastapi.mdx
  docs/integrations/openapi.mdx
  docs/integrations/starlette.mdx
  docs/servers/server.mdx
Labels: documentation

#1106 Fix Claude Code CLI detection for npm global installations
  docs/docs.json
  docs/servers/composition.mdx
  docs/servers/proxy.mdx
  src/fastmcp/cli/install/claude_code.py
  src/fastmcp/server/proxy.py
  src/fastmcp/server/server.py
  src/fastmcp/utilities/components.py
  tests/server/proxy/test_proxy_server.py
Labels: documentation, enhancement, tests

#1107 Fix OpenAPI parameter name collisions with location suffixing
  src/fastmcp/server/openapi.py
  src/fastmcp/utilities/openapi.py
  tests/server/openapi/test_parameter_collisions.py
Labels: tests, component: openapi

#1112 Update github remote server tests with secret
  .github/workflows/run-tests.yml
  tests/integration_tests/__init__.py
  tests/integration_tests/test_github_mcp_remote.py
  tests/test_servers/fastmcp_server.py
  tests/test_servers/sse.py
  tests/test_servers/stdio.py
Labels: tests

#1125 Fix middleware list result types
  docs/servers/middleware.mdx
  src/fastmcp/server/middleware/__init__.py
  src/fastmcp/server/middleware/middleware.py
  tests/server/middleware/test_middleware.py
Labels: bug, documentation, tests

#1128 Fix OpenAPI empty parameters
  src/fastmcp/server/openapi.py
Labels: bug, component: openapi

#1135 Fix optional parameter validation in OpenAPI integration
  src/fastmcp/utilities/openapi.py
  tests/server/openapi/test_optional_parameters.py
Labels: bug, tests, component: openapi

#1153 Do not silently exclude the "context" key from JSON body
  src/fastmcp/server/openapi.py
Labels: bug, component: openapi

#1141 Resolve #1139 -- Implement include_context argument in Context.sample
  docs/servers/sampling.mdx
  src/fastmcp/server/context.py
  tests/server/proxy/test_proxy_client.py
Labels: documentation, enhancement, tests

#1144 Eunomia Authorization with native FastMCP's Middleware
  docs/integrations/eunomia-authorization.mdx
Labels: documentation

#1185 Fix `mcp-json` output format to include server name
  docs/integrations/mcp-json-configuration.mdx
  docs/patterns/cli.mdx
  src/fastmcp/cli/install/__init__.py
  src/fastmcp/cli/install/mcp_json.py
  tests/cli/test_install.py
Labels: bug, documentation

#1109 Add StatefulProxyClient
  src/fastmcp/server/proxy.py
  tests/server/proxy/test_stateful_proxy_client.py
Labels: enhancement, tests

#1188 Separate integration tests from unit tests in CI
  .github/workflows/run-tests.yml
  pyproject.toml
  tests/conftest.py
Labels: tests

#1190 Add --python, --project, and --with-requirements options to CLI commands
  docs/deployment/running-server.mdx
  docs/integrations/claude-code.mdx
  docs/integrations/claude-desktop.mdx
  docs/integrations/cursor.mdx
  docs/integrations/mcp-json-configuration.mdx
  docs/patterns/cli.mdx
  src/fastmcp/cli/cli.py
  src/fastmcp/cli/install/claude_code.py
  src/fastmcp/cli/install/claude_desktop.py
  src/fastmcp/cli/install/cursor.py
  src/fastmcp/cli/install/mcp_json.py
  src/fastmcp/cli/run.py
  tests/cli/test_cli.py
  tests/cli/test_cursor.py
  tests/cli/test_install.py
  tests/cli/test_run_with_uv.py
Labels: documentation, enhancement, tests, component: CLI

#1194 Remove unused import from FastAPI integration documentation
  docs/integrations/fastapi.mdx
Labels: documentation

#1198 Update fastapi docs
  docs/integrations/fastapi.mdx
  docs/integrations/openapi.mdx
Labels: documentation, component: openapi

#1214 Optimize OpenAPI parser performance with single-pass schema processing
  src/fastmcp/experimental/utilities/openapi/schemas.py
  src/fastmcp/utilities/json_schema.py
  src/fastmcp/utilities/openapi.py
  tests/experimental/server/openapi/test_server.py
  tests/experimental/server/test_openapi_performance.py
  tests/utilities/test_json_schema.py
Labels: enhancement, tests, component: openapi

#1217 fix: handle non-string $ref values in experimental OpenAPI parser
  src/fastmcp/experimental/utilities/openapi/parser.py
  src/fastmcp/experimental/utilities/openapi/schemas.py
Labels: bug, component: openapi

#1222 Skip repeated type conversion and validation in proxy client elicitation handler
  src/fastmcp/server/proxy.py
  tests/server/proxy/test_proxy_client.py
Labels: bug, tests

#1227 Add docs for context state management
  docs/servers/context.mdx
  docs/servers/middleware.mdx
Labels: documentation

#1226 Permit.io integration docs
  docs/docs.json
  docs/integrations/images/abac_condition_example.png
  docs/integrations/images/abac_policy_example.png
  docs/integrations/images/policy_mapping.png
  docs/integrations/images/role_assignement.png
  docs/integrations/permit.mdx
Labels: documentation

#1234 Update docs to reflect sync tools
  docs/servers/tools.mdx
Labels: documentation

#1235 Update changelog.mdx
  docs/changelog.mdx
Labels: documentation

#1236 Update SDK docs
  docs/docs.json
  docs/python-sdk/fastmcp-cli-cli.mdx
  docs/python-sdk/fastmcp-cli-install-claude_code.mdx
  docs/python-sdk/fastmcp-cli-install-claude_desktop.mdx
  docs/python-sdk/fastmcp-cli-install-cursor.mdx
  docs/python-sdk/fastmcp-cli-install-mcp_json.mdx
  docs/python-sdk/fastmcp-cli-run.mdx
  docs/python-sdk/fastmcp-client-transports.mdx
  docs/python-sdk/fastmcp-mcp_config.mdx
  docs/python-sdk/fastmcp-server-context.mdx
  docs/python-sdk/fastmcp-server-middleware.mdx
  docs/python-sdk/fastmcp-server-proxy.mdx
  docs/python-sdk/fastmcp-server-server.mdx
  docs/python-sdk/fastmcp-settings.mdx
  docs/python-sdk/fastmcp-tools-tool.mdx
  docs/python-sdk/fastmcp-tools-tool_manager.mdx
  docs/python-sdk/fastmcp-tools-tool_transform.mdx
  docs/python-sdk/fastmcp-utilities-json_schema.mdx
  docs/python-sdk/fastmcp-utilities-mcp_config.mdx
  docs/python-sdk/fastmcp-utilities-openapi.mdx
  docs/python-sdk/fastmcp-utilities-tests.mdx
  docs/python-sdk/fastmcp-utilities-types.mdx
  src/fastmcp/mcp_config.py
  src/fastmcp/utilities/openapi.py
  src/fastmcp/utilities/types.py
Labels: documentation

#1238 Log tool name on transform validation error
  src/fastmcp/tools/tool_transform.py
  tests/tools/test_tool_transform.py
Labels: enhancement, tests

#1255 Support creating tool argument descriptions from string annotations
  docs/servers/tools.mdx
  src/fastmcp/utilities/types.py
  tests/server/test_server_interactions.py
  tests/utilities/test_types.py
Labels: documentation, enhancement, tests

#1254 fix: experimental FastMCPOpenAPI server lost headers in request when __init__(client with headers)
  src/fastmcp/experimental/server/openapi/components.py
  tests/experimental/server/openapi/test_comprehensive.py
Labels: tests, component: openapi

#1259 Add tests for headers with both legacy and experimental openapi parser
  src/fastmcp/experimental/server/openapi/__init__.py
  src/fastmcp/experimental/server/openapi/components.py
  src/fastmcp/experimental/server/openapi/routing.py
  src/fastmcp/experimental/server/openapi/server.py
  tests/client/test_openapi.py
  tests/client/test_openapi_experimental.py
  tests/client/test_openapi_legacy.py
  uv.lock
Labels: tests, component: openapi

#1269 Fix typing, add tests for tool call middleware
  docs/servers/middleware.mdx
  src/fastmcp/server/middleware/middleware.py
  tests/server/middleware/test_middleware.py
Labels: bug, documentation, tests

#1268 Add annotations docs
  docs/servers/resources.mdx
Labels: documentation

#1281 Expose FastMCP tags to clients via component `meta` dict
  docs/clients/prompts.mdx
  docs/clients/resources.mdx
  docs/clients/tools.mdx
  docs/integrations/openapi.mdx
  docs/servers/middleware.mdx
  docs/servers/prompts.mdx
  docs/servers/resources.mdx
  docs/servers/tools.mdx
  justfile
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/template.py
  src/fastmcp/tools/tool.py
  src/fastmcp/utilities/components.py
  tests/server/openapi/test_basic_functionality.py
  tests/server/test_server_interactions.py
Labels: documentation, feature, tests, component: openapi

#1283 Improve OpenAPI-to-JSONSchema conversion utilities
  src/fastmcp/experimental/server/openapi/server.py
  src/fastmcp/experimental/utilities/openapi/README.md
  src/fastmcp/experimental/utilities/openapi/__init__.py
  src/fastmcp/experimental/utilities/openapi/director.py
  src/fastmcp/experimental/utilities/openapi/json_schema_converter.py
  src/fastmcp/experimental/utilities/openapi/models.py
  src/fastmcp/experimental/utilities/openapi/parser.py
  src/fastmcp/experimental/utilities/openapi/schemas.py
  src/fastmcp/server/openapi.py
  src/fastmcp/utilities/openapi.py
  tests/experimental/utilities/openapi/test_director.py
  tests/experimental/utilities/openapi/test_nullable_fields.py
Labels: enhancement, tests, component: openapi

#1290 Add _fastmcp meta namespace
  docs/clients/prompts.mdx
  docs/clients/resources.mdx
  docs/clients/tools.mdx
  docs/integrations/openapi.mdx
  docs/servers/prompts.mdx
  docs/servers/resources.mdx
  docs/servers/server.mdx
  docs/servers/tools.mdx
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/template.py
  src/fastmcp/server/server.py
  src/fastmcp/settings.py
  src/fastmcp/tools/tool.py
  src/fastmcp/utilities/components.py
  tests/server/openapi/test_basic_functionality.py
  tests/server/proxy/test_proxy_client.py
  tests/server/proxy/test_proxy_server.py
  tests/server/test_server_interactions.py
Labels: documentation, feature, tests, component: openapi

#1293 fix: server argument passing in CLI run command
  src/fastmcp/cli/cli.py
  tests/cli/test_cli.py
Labels: enhancement, tests

#1294 Add meta parameter support to tools, resources, templates, and prompts decorators
  docs/servers/prompts.mdx
  docs/servers/resources.mdx
  docs/servers/tools.mdx
  src/fastmcp/prompts/prompt.py
  src/fastmcp/resources/resource.py
  src/fastmcp/resources/template.py
  src/fastmcp/server/server.py
  src/fastmcp/tools/tool.py
  tests/prompts/test_prompt.py
  tests/resources/test_resource_template_meta.py
  tests/resources/test_resources.py
  tests/server/test_server.py
  tests/tools/test_tool.py
Labels: documentation, tests

#1297 Add TokenVerifier protocol support alongside existing OAuthProvider authentication
  docs/docs.json
  docs/integrations/anthropic.mdx
  docs/integrations/openai.mdx
  docs/servers/auth/verifiers.mdx
  docs/servers/server.mdx
  src/fastmcp/contrib/component_manager/example.py
  src/fastmcp/server/auth/__init__.py
  src/fastmcp/server/auth/auth.py
  src/fastmcp/server/auth/providers/bearer.py
  src/fastmcp/server/auth/providers/bearer_env.py
  src/fastmcp/server/auth/verifiers.py
  src/fastmcp/server/http.py
  src/fastmcp/server/server.py
  src/fastmcp/settings.py
  tests/auth/providers/test_bearer_env.py
  tests/auth/providers/test_token_verifier.py
  tests/auth/verifiers/test_env_jwt.py
  tests/auth/verifiers/test_jwt_verifier.py
  tests/contrib/test_component_manager.py
  tests/deprecated/test_bearer_auth_provider.py
  tests/server/auth/test_token_verifier_integration.py
  tests/server/http/test_auth_setup.py
  tests/server/http/test_bearer_auth_backend.py
  tests/server/http/test_http_auth_middleware.py
Labels: documentation, enhancement, tests, contrib, component: auth, component: HTTP

#1302 Add test for proxy tags visibility
  tests/server/middleware/test_middleware.py
Labels: tests
